force-app/main/default/flows/Add_Work_Order_Room_POC_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>AddAllExistingSurveyLocationsOnWorkOrder</name>
        <label>AddAllExistingSurveyLocationsOnWorkOrder</label>
        <locationX>1700</locationX>
        <locationY>3427</locationY>
        <assignmentItems>
            <assignToReference>SurveyLocationsAlreadyOnWorkOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WorkOrderLocationLoopItem.Survey_Location__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AllWorkOrderLocationsLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddNewSurveyLocationIdToList</name>
        <label>AddNewSurveyLocationIdToList</label>
        <locationX>1543</locationX>
        <locationY>2260</locationY>
        <assignmentItems>
            <assignToReference>CreatedSurveyLocationIdsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SurveyLocationLoopItem.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverAllSurveyLocationIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddNewWorkOrderLineItemToCollection</name>
        <label>AddNewWorkOrderLineItemToCollection</label>
        <locationX>1422</locationX>
        <locationY>5877</locationY>
        <assignmentItems>
            <assignToReference>NewWorkOrderLineItemCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewWorkOrderLineItemRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IncrementNumberOfWOLIRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddSurveyLocationIdToListPriorToNewLocations</name>
        <label>AddSurveyLocationIdToListPriorToNewLocations</label>
        <locationX>2328</locationX>
        <locationY>919</locationY>
        <assignmentItems>
            <assignToReference>SurveyLocationIdsBeforeInsertList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SurveyLocationLoopItem.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverPreExistingSurveyLocations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Survey_Location_to_List</name>
        <label>Assign New Survey Location to List</label>
        <locationX>2849</locationX>
        <locationY>1708</locationY>
        <assignmentItems>
            <assignToReference>NewSurveyLocationCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewSurveyLocation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_User_Want_to_Create_Another_Survey_Location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Work_Order_Location</name>
        <label>Assign New Work Order Location</label>
        <locationX>1598</locationX>
        <locationY>3775</locationY>
        <assignmentItems>
            <assignToReference>NewWorkOrderLocationRecord.Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewWorkOrderLocationRecord.Survey_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SurveyLocationLoopItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewWorkOrderLocationRecord.Floor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SurveyLocationLoopItem.Floor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewWorkOrderLocationRecord.Building__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SurveyLocationLoopItem.Building__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewWorkOrderLocationRecord.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SurveyLocationLoopItem.Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewWorkOrderLocationRecord.Location_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SurveyLocationLoopItem.Location_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewWorkOrderLocationRecord.Location_SubType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SurveyLocationLoopItem.Location_SubType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewWorkOrderLocationRecord.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SurveyLocationLoopItem.Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewWorkOrderLocationRecord.Service_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SurveyLocationLoopItem.Service_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewWorkOrderLocationRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewWorkOrderLocationRecord.Service_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SurveyLocationLoopItem.Service_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewWorkOrderLocationRecord.Suite_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SurveyLocationLoopItem.Suite_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewWorkOrderLocationRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SurveyLocationLoopItem.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewWorkOrderLocationRecord.Site_Survey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SurveyLocationLoopItem.Site_Survey__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewWorkOrderLocationRecord.Number_of_Rooms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SurveyLocationLoopItem.Number_of_Rooms__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignNewWorkOrderLocationToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignErrorMessage</name>
        <label>AssignErrorMessage</label>
        <locationX>758</locationX>
        <locationY>2892</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Survey Locations were selected. Please select at least 1 Survey Location to continue.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsPONeededAndIsAccountMultiRes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewWorkOrderLocationToCollection</name>
        <label>AssignNewWorkOrderLocationToCollection</label>
        <locationX>1599</locationX>
        <locationY>3611</locationY>
        <assignmentItems>
            <assignToReference>NewWorkOrderLocationCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewWorkOrderLocationRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverAllSelectedSurveyLocationIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPONumber</name>
        <label>AssignPONumber</label>
        <locationX>1231</locationX>
        <locationY>5876</locationY>
        <assignmentItems>
            <assignToReference>NewWorkOrderLineItemRecord.PO_Number_for_Order_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CapturedPONumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddNewWorkOrderLineItemToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPoOrderHeaderCommercialNoSurveyLocation</name>
        <label>AssignPoOrderHeaderCommercialNoSurveyLocation</label>
        <locationX>1418</locationX>
        <locationY>2631</locationY>
        <assignmentItems>
            <assignToReference>CapturedPONumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PO_Number_Order_Header_Commercial</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AreSurveyLocationsSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPoOrderHeaderMultiResNoSurveyLocation</name>
        <label>AssignPoOrderHeaderMultiResNoSurveyLocation</label>
        <locationX>2373</locationX>
        <locationY>2646</locationY>
        <assignmentItems>
            <assignToReference>CapturedPONumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PO_Number_Order_Header</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AreSurveyLocationsSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPoOrderLineItemCommercialNoSurveyLocation</name>
        <label>AssignPoOrderLineItemCommercialNoSurveyLocation</label>
        <locationX>1318</locationX>
        <locationY>2636</locationY>
        <assignmentItems>
            <assignToReference>CapturedPONumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PO_Number_PO_Line_Item_Commercial</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AreSurveyLocationsSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPoOrderLineItemMultiResNoSurveyLocation</name>
        <label>AssignPoOrderLineItemMultiResNoSurveyLocation</label>
        <locationX>2481</locationX>
        <locationY>2631</locationY>
        <assignmentItems>
            <assignToReference>CapturedPONumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PO_Number_Line_Item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AreSurveyLocationsSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSurveyLocationAlreadyExisting</name>
        <label>AssignSurveyLocationAlreadyExisting</label>
        <locationX>1586</locationX>
        <locationY>5219</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderLocationsToReceiveLineItemsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WorkOrderLocationLoopItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverExistingSelectedWorkOrderLocations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSurveyLocationIdsNoPO</name>
        <label>AssignSurveyLocationIdsNoPO</label>
        <locationX>2154</locationX>
        <locationY>2638</locationY>
        <assignmentItems>
            <assignToReference>SelectedSurveyLocationIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Survey_Locations_No_PO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AreSurveyLocationsSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSurveyLocationIdsWithPO</name>
        <label>AssignSurveyLocationIdsWithPO</label>
        <locationX>2022</locationX>
        <locationY>2638</locationY>
        <assignmentItems>
            <assignToReference>SelectedSurveyLocationIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Survey_Locations_With_PO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CapturedPONumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PO_Number_Line_Item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AreSurveyLocationsSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSurveyLocationsWithNoPOCommercial</name>
        <label>AssignSurveyLocationsWithNoPOCommercial</label>
        <locationX>1523</locationX>
        <locationY>2628</locationY>
        <assignmentItems>
            <assignToReference>SelectedSurveyLocationIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Survey_Locations_No_PO_Commercial</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductServicePricePerUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Price_Per_Unit_No_PO_Commercial</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AreSurveyLocationsSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSurveyLocationsWithPOOnHeader</name>
        <label>AssignSurveyLocationsWithPOOnHeader</label>
        <locationX>2278</locationX>
        <locationY>2643</locationY>
        <assignmentItems>
            <assignToReference>SelectedSurveyLocationIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Survey_Locations_Order_Header</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CapturedPONumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PO_Number_Order_Header</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AreSurveyLocationsSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSurveyLocationsWithPOOnHeaderCommercial</name>
        <label>AssignSurveyLocationsWithPOOnHeaderCommercial</label>
        <locationX>1738</locationX>
        <locationY>2625</locationY>
        <assignmentItems>
            <assignToReference>SelectedSurveyLocationIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Survey_Locations_PO_Header_Commercial</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductServicePricePerUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Price_Per_Unit_PO_Header</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CapturedPONumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PO_Number_Order_Header_Commercial</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AreSurveyLocationsSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSurveyLocationsWithPOOnLineItemCommercial</name>
        <label>AssignSurveyLocationsWithPOOnLineItemCommercial</label>
        <locationX>1624</locationX>
        <locationY>2622</locationY>
        <assignmentItems>
            <assignToReference>SelectedSurveyLocationIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Survey_Locations_PO_Line_Item_Commercial</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductServicePricePerUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Price_Per_Unit_PO_Line_Item_Commercial</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CapturedPONumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PO_Number_PO_Line_Item_Commercial</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AreSurveyLocationsSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSurveyLocationValues</name>
        <label>AssignSurveyLocationValues</label>
        <locationX>2614</locationX>
        <locationY>1719</locationY>
        <assignmentItems>
            <assignToReference>NewSurveyLocation.Building__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Building</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSurveyLocation.Floor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Floor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSurveyLocation.Unit_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Unit_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSurveyLocation.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSurveyLocation.Site_Survey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderRecord.Site_Survey__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSurveyLocation.Location_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSurveyLocation.Service_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSurveyLocation.Number_of_Rooms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Rooms</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSurveyLocation.Service_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSurveyLocation.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_Survey_Location_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BuildNewWorkOrderLineItem</name>
        <label>BuildNewWorkOrderLineItem</label>
        <locationX>1590</locationX>
        <locationY>5694</locationY>
        <assignmentItems>
            <assignToReference>NewWorkOrderLineItemRecord.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewWorkOrderLineItemRecord.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedPricebookEntryRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewWorkOrderLineItemRecord.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewWorkOrderLineItemRecord.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderRecord.StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewWorkOrderLineItemRecord.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderRecord.EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewWorkOrderLineItemRecord.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedProductId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewWorkOrderLineItemRecord.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedProductRecord.Service_Work_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewWorkOrderLineItemRecord.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderRecord.Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewWorkOrderLineItemRecord.Work_Order_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderLocationLoopItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewWorkOrderLineItemRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewWorkOrderLineItemRecord.Requires_Order_Product_to_be_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewWorkOrderLineItemRecord.Product_Service_Price_Per_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductServicePricePerUnit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DoesLineItemNeedPO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BuildSelectedSurveyLocationRecordCollection</name>
        <label>BuildSelectedSurveyLocationRecordCollection</label>
        <locationX>1657</locationX>
        <locationY>3291</locationY>
        <assignmentItems>
            <assignToReference>SelectedSurveyLocationRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SurveyLocationLoopItem</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumberOfSelectedSurveyLocations</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopToBuildSelectedSurveyLocationIdCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CalculateNumberOfNewWorkOrderLocations</name>
        <label>CalculateNumberOfNewWorkOrderLocations</label>
        <locationX>2060</locationX>
        <locationY>4629</locationY>
        <assignmentItems>
            <assignToReference>NumberOfNewWorkOrderLocations</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewWorkOrderLocationCollectionCheckLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IncrementNumberOfWOLIRecords</name>
        <label>IncrementNumberOfWOLIRecords</label>
        <locationX>1585</locationX>
        <locationY>5878</locationY>
        <assignmentItems>
            <assignToReference>NumberOfWorkOrderLineItemsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AllWorkOrderLocationsForLineItemLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ResetAllVariables</name>
        <label>ResetAllVariables</label>
        <locationX>192</locationX>
        <locationY>6345</locationY>
        <assignmentItems>
            <assignToReference>NumberOfSelectedSurveyLocations</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumberOfWorkOrderLineItemsToCreate</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedSurveyLocationRecordCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClearSurveyLocationCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewWorkOrderLocationCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClearWorkOrderLocationCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderLocationsToReceiveLineItemsCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClearWorkOrderLocationCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewWorkOrderLineItemCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClearNewWorkOrderLineItemCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderLocationCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClearWorkOrderLocationCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyLocationsOnSiteSurvey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClearSurveyLocationCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyLocationsAlreadyOnWorkOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClearStringCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedSurveyLocationIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderLocationCollectionAfterInsert</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClearWorkOrderLocationCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumberOfNewWorkOrderLocations</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSurveyLocationCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClearSurveyLocationCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedSurveyLocationsOnSiteSurvey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClearSurveyLocationCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyLocationIdsBeforeInsertList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClearStringCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreatedSurveyLocationIdsList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClearStringCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyLocationIdsOnSiteSurveyList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClearStringCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateMoreLineItemsDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetOrderWithNewPONumber</name>
        <label>SetOrderWithNewPONumber</label>
        <locationX>2102</locationX>
        <locationY>6163</locationY>
        <assignmentItems>
            <assignToReference>OrderRecord.PoNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CapturedPONumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateOrderWithNewPONumber</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>StandardPricebookId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01sj0000001Xd3OAAS</stringValue>
        </value>
    </constants>
    <decisions>
        <name>AreSurveyLocationsSelected</name>
        <label>AreSurveyLocationsSelected</label>
        <locationX>1930</locationX>
        <locationY>2888</locationY>
        <defaultConnector>
            <targetReference>AssignErrorMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Survey Locations Not Selected</defaultConnectorLabel>
        <rules>
            <name>SurveyLocationsAreSelected</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>SelectedSurveyLocationIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectedSurveyLocationIds</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CreatedSurveyLocationIdsList</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>EmptyStringCollection</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopToBuildSelectedSurveyLocationIdCollection</targetReference>
            </connector>
            <label>SurveyLocationsAreSelected</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSurveyLocationIdsForNew</name>
        <label>CheckSurveyLocationIdsForNew</label>
        <locationX>1655</locationX>
        <locationY>2014</locationY>
        <defaultConnector>
            <targetReference>AddNewSurveyLocationIdToList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Survey Location Id is New</defaultConnectorLabel>
        <rules>
            <name>SurveyLocationIdIsNotNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SurveyLocationIdsBeforeInsertList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>SurveyLocationLoopItem.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopOverAllSurveyLocationIds</targetReference>
            </connector>
            <label>SurveyLocationIdIsNotNew</label>
        </rules>
    </decisions>
    <decisions>
        <name>CreateMoreLineItemsDecision</name>
        <label>CreateMoreLineItemsDecision</label>
        <locationX>180</locationX>
        <locationY>843</locationY>
        <defaultConnectorLabel>Flow Completed</defaultConnectorLabel>
        <rules>
            <name>YesCreateMoreLineItems</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_More_Work_Order_Line_Items_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSurveyLocationsOnSiteSurvey</targetReference>
            </connector>
            <label>YesCreateMoreLineItems</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Selected_Survey_Location_Exist_in_All_Survey_Locations</name>
        <label>Does Selected Survey Location Exist in All Survey Locations</label>
        <locationX>1651</locationX>
        <locationY>3132</locationY>
        <defaultConnector>
            <targetReference>LoopToBuildSelectedSurveyLocationIdCollection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Survey Location Not Selected</defaultConnectorLabel>
        <rules>
            <name>Survey_Location_Selected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SelectedSurveyLocationIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>SurveyLocationLoopItem.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CreatedSurveyLocationIdsList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>SurveyLocationLoopItem.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BuildSelectedSurveyLocationRecordCollection</targetReference>
            </connector>
            <label>Survey Location Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_User_Want_to_Create_Another_Survey_Location</name>
        <label>Does User Want to Create Another Survey Location?</label>
        <locationX>2632</locationX>
        <locationY>2000</locationY>
        <defaultConnector>
            <targetReference>CreateAllNewSurveyLocations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No More Survey Locations</defaultConnectorLabel>
        <rules>
            <name>CreateAnotherSurveyLocation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Another_Survey_Location</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Survey_Location_Screen</targetReference>
            </connector>
            <label>Create Another Survey Location</label>
        </rules>
    </decisions>
    <decisions>
        <name>DoesLineItemNeedPO</name>
        <label>DoesLineItemNeedPO</label>
        <locationX>1414</locationX>
        <locationY>5696</locationY>
        <defaultConnector>
            <targetReference>AddNewWorkOrderLineItemToCollection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>LineItemDoesNotNeedPO</defaultConnectorLabel>
        <rules>
            <name>LineItemNeedsPO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.PO_Required_on_Line_Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignPONumber</targetReference>
            </connector>
            <label>LineItemNeedsPO</label>
        </rules>
    </decisions>
    <decisions>
        <name>DoesOrderHeaderNeedNewPONumber</name>
        <label>DoesOrderHeaderNeedNewPONumber</label>
        <locationX>1865</locationX>
        <locationY>6159</locationY>
        <defaultConnector>
            <targetReference>Wizard_Completed_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Order Header Is Fine</defaultConnectorLabel>
        <rules>
            <name>OrderHeaderNeedsNewPO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.PO_Required_on_Line_Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.PO_Required_for_Orders__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PO Required Before</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetOrderWithNewPONumber</targetReference>
            </connector>
            <label>OrderHeaderNeedsNewPO</label>
        </rules>
    </decisions>
    <decisions>
        <name>DoesSelectedSurveyLocationIdExistAsWorkOrderLocation</name>
        <label>DoesSelectedSurveyLocationIdExistAsWorkOrderLocation</label>
        <locationX>1738</locationX>
        <locationY>3936</locationY>
        <defaultConnector>
            <targetReference>Assign_New_Work_Order_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SurveyLocationNotOnWorkOrderOutcome</defaultConnectorLabel>
        <rules>
            <name>SurveyLocationAlreadyOnWorkOrderOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SurveyLocationsAlreadyOnWorkOrder</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>SurveyLocationLoopItem.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopOverAllSelectedSurveyLocationIds</targetReference>
            </connector>
            <label>SurveyLocationAlreadyOnWorkOrderOutcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>DoesSurveyLocationExistAlready</name>
        <label>DoesSurveyLocationExistAlready</label>
        <locationX>1580</locationX>
        <locationY>5416</locationY>
        <defaultConnector>
            <targetReference>LoopOverExistingSelectedWorkOrderLocations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Selected</defaultConnectorLabel>
        <rules>
            <name>WorkOrderLocationSelected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SelectedSurveyLocationIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>WorkOrderLocationLoopItem.Survey_Location__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CreatedSurveyLocationIdsList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>WorkOrderLocationLoopItem.Survey_Location__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignSurveyLocationAlreadyExisting</targetReference>
            </connector>
            <label>WorkOrderLocationSelected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Create_New_Survey_Location_Checked</name>
        <label>Is Create New Survey Location Checked</label>
        <locationX>1942</locationX>
        <locationY>1715</locationY>
        <defaultConnector>
            <targetReference>GetUpdatedListOfSurveyLocations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Don&apos;t Create Survey Location</defaultConnectorLabel>
        <rules>
            <name>Create_Survey_Location_Choice</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Create_New_Survey_Locations_With_PO</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Create_New_Survey_Location_No_PO</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Create_New_Survey_Locations_PO_Order_Header</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Create_New_Survey_Locations_PO_Header_Commercial</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Create_New_Survey_Locations_PO_Line_Item_Commercial</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Create_New_Survey_Locations_No_PO_Commercial</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Survey_Location_Screen</targetReference>
            </connector>
            <label>Create Survey Location Choice</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsAccountMultiResForOrderHeaderPO</name>
        <label>IsAccountMultiResForOrderHeaderPO</label>
        <locationX>1517</locationX>
        <locationY>1451</locationY>
        <defaultConnector>
            <targetReference>Step_1_Search_Product_With_PO_on_Order_Header</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AccountIsCommercialForHeaderPO</defaultConnectorLabel>
        <rules>
            <name>AccountIsMultiResForHeaderPO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.Is_Multi_Res__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Product_With_PO_on_Order_Header</targetReference>
            </connector>
            <label>AccountIsMultiResForHeaderPO</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsNewWorOrderLocationCollectionNotEmpty</name>
        <label>IsNewWorOrderLocationCollectionNotEmpty</label>
        <locationX>1858</locationX>
        <locationY>4839</locationY>
        <defaultConnector>
            <targetReference>GetSelectedWorkOrderLocations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No New Work Order Locations Needed</defaultConnectorLabel>
        <rules>
            <name>WorkOrderLocationsToBeCreated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfNewWorkOrderLocations</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateNewWorkOrderLocations</targetReference>
            </connector>
            <label>WorkOrderLocationsToBeCreated</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsPONeededAndIsAccountMultiRes</name>
        <label>IsPONeededAndIsAccountMultiRes</label>
        <locationX>1948</locationX>
        <locationY>1185</locationY>
        <defaultConnector>
            <targetReference>Step_1_Search_Product_No_PO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PO Not Needed And is Commercial</defaultConnectorLabel>
        <rules>
            <name>PORequiredOnOrderHeader</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.PO_Required_for_Orders__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PO Required Before</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.PO_Required_on_Line_Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOrderRecord</targetReference>
            </connector>
            <label>PORequiredOnOrderHeader</label>
        </rules>
        <rules>
            <name>PORequiredOnLineItemAndIsMultiRes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.PO_Required_for_Orders__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PO Required Before</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.PO_Required_on_Line_Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.Is_Multi_Res__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Step_1_Search_Product_With_PO</targetReference>
            </connector>
            <label>PORequiredOnLineItemAndIsMultiRes</label>
        </rules>
        <rules>
            <name>PORequiredOnLineItemAndIsCommercial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.PO_Required_for_Orders__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PO Required Before</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.PO_Required_on_Line_Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.Is_Multi_Res__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Step_1_Search_Product_With_PO_on_Line_Item</targetReference>
            </connector>
            <label>PORequiredOnLineItemAndIsCommercial</label>
        </rules>
        <rules>
            <name>PONotRequiredAndIsCommercial</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.PO_Required_for_Orders__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PO Required After</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.PO_Required_for_Orders__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.PO_Required_on_Line_Item__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.Is_Multi_Res__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Step_1_Search_Product_No_PO_Commercial</targetReference>
            </connector>
            <label>PONotRequiredAndIsCommercial</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsWorkOrderPestEmergency</name>
        <label>IsWorkOrderPestEmergency</label>
        <locationX>1951</locationX>
        <locationY>448</locationY>
        <defaultConnector>
            <targetReference>Work_Order_Is_Not_Pest_Emergency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Work Order Is Not Pest Emergency</defaultConnectorLabel>
        <rules>
            <name>WorkOrderIsPestEmergency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pest Control</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrderRecord.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrderRecord.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAccount</targetReference>
            </connector>
            <label>WorkOrderIsPestEmergency</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhereToAssignSurveyLocationIds</name>
        <label>WhereToAssignSurveyLocationIds</label>
        <locationX>1866</locationX>
        <locationY>2481</locationY>
        <defaultConnector>
            <targetReference>LoopToBuildSelectedSurveyLocationIdCollection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Existing Survey Locations And No PO Number</defaultConnectorLabel>
        <rules>
            <name>Survey_Location_Ids_from_No_PO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Survey_Locations_No_PO</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Survey_Locations_No_PO</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.Is_Multi_Res__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignSurveyLocationIdsNoPO</targetReference>
            </connector>
            <label>Survey Location Ids from No PO Multi-Res</label>
        </rules>
        <rules>
            <name>Survey_Location_Ids_with_PO_Number_on_Header_Commercial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Survey_Locations_PO_Header_Commercial</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Survey_Locations_PO_Header_Commercial</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.Is_Multi_Res__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignSurveyLocationsWithPOOnHeaderCommercial</targetReference>
            </connector>
            <label>Survey Location Ids with PO Number on Header Commercial</label>
        </rules>
        <rules>
            <name>Survey_Location_Ids_from_PO_on_Header</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Survey_Locations_Order_Header</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Survey_Locations_Order_Header</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.Is_Multi_Res__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignSurveyLocationsWithPOOnHeader</targetReference>
            </connector>
            <label>Survey Location Ids from PO on Header Multi-Res</label>
        </rules>
        <rules>
            <name>Survey_Location_Ids_from_No_PO_Commercial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Survey_Locations_No_PO_Commercial</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Survey_Locations_No_PO_Commercial</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.Is_Multi_Res__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignSurveyLocationsWithNoPOCommercial</targetReference>
            </connector>
            <label>Survey Location Ids from No PO Commercial</label>
        </rules>
        <rules>
            <name>Survey_Location_Ids_from_PO_on_Line_Item_Commercial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Survey_Locations_PO_Line_Item_Commercial</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Survey_Locations_PO_Line_Item_Commercial</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.Is_Multi_Res__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignSurveyLocationsWithPOOnLineItemCommercial</targetReference>
            </connector>
            <label>Survey Location Ids from PO on Line Item Commercial</label>
        </rules>
        <rules>
            <name>Survey_Location_Ids_with_PO_Number_on_Line_Item_Multi_Res</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.Is_Multi_Res__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Survey_Locations_With_PO</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Survey_Locations_With_PO</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignSurveyLocationIdsWithPO</targetReference>
            </connector>
            <label>Survey Location Ids with PO Number on Line Item Multi-Res</label>
        </rules>
        <rules>
            <name>No_Existing_Locations_PO_On_Header_Commercial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.Is_Multi_Res__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PO_Number_Order_Header_Commercial</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PO_Number_Order_Header_Commercial</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignPoOrderHeaderCommercialNoSurveyLocation</targetReference>
            </connector>
            <label>No Existing Locations PO On Header Commercial</label>
        </rules>
        <rules>
            <name>No_Existing_Locations_PO_On_Line_Item_Commercial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.Is_Multi_Res__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PO_Number_PO_Line_Item_Commercial</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PO_Number_PO_Line_Item_Commercial</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignPoOrderLineItemCommercialNoSurveyLocation</targetReference>
            </connector>
            <label>No Existing Locations PO On Line Item Commercial</label>
        </rules>
        <rules>
            <name>No_Existing_Locations_PO_On_Header_Multi_Res</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.Is_Multi_Res__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PO_Number_Order_Header</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PO_Number_Order_Header</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignPoOrderHeaderMultiResNoSurveyLocation</targetReference>
            </connector>
            <label>No Existing Locations PO On Header Multi-Res</label>
        </rules>
        <rules>
            <name>No_Existing_Locations_PO_On_Line_Item_Multi_Res</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.Is_Multi_Res__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PO_Number_Line_Item</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PO_Number_Line_Item</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignPoOrderLineItemMultiResNoSurveyLocation</targetReference>
            </connector>
            <label>No Existing Locations PO On Line Item Multi-Res</label>
        </rules>
    </decisions>
    <description>change request 7.10 - reorder check for closing flow and resetting variables. variables now always reset because of FSL caching.</description>
    <dynamicChoiceSets>
        <name>AllPestControlServicesChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Allows_One_Time__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsPestService__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>SelectedProductId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Product_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LocationTypePicklistValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Location_Type__c</picklistField>
        <picklistObject>Survey_Location__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NumberOfRooms</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Number_of_Rooms__c</picklistField>
        <picklistObject>Survey_Location__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SurveyLocationChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Site_Survey__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderRecord.Site_Survey__c</elementReference>
            </value>
        </filters>
        <object>Survey_Location__c</object>
        <sortField>Floor__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Add Work Order Room POC #2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Location / Service</label>
    <loops>
        <name>AllWorkOrderLocationsForLineItemLoop</name>
        <label>AllWorkOrderLocationsForLineItemLoop</label>
        <locationX>1868</locationX>
        <locationY>5777</locationY>
        <assignNextValueToReference>WorkOrderLocationLoopItem</assignNextValueToReference>
        <collectionReference>WorkOrderLocationsToReceiveLineItemsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>BuildNewWorkOrderLineItem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>InsertNewWorkOrderLineItems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>AllWorkOrderLocationsLoop</name>
        <label>AllWorkOrderLocationsLoop</label>
        <locationX>1855</locationX>
        <locationY>3426</locationY>
        <assignNextValueToReference>WorkOrderLocationLoopItem</assignNextValueToReference>
        <collectionReference>WorkOrderLocationCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddAllExistingSurveyLocationsOnWorkOrder</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopOverAllSelectedSurveyLocationIds</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOverAllSelectedSurveyLocationIds</name>
        <label>LoopOverAllSelectedSurveyLocationIds</label>
        <locationX>1855</locationX>
        <locationY>3704</locationY>
        <assignNextValueToReference>SurveyLocationLoopItem</assignNextValueToReference>
        <collectionReference>SelectedSurveyLocationRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DoesSelectedSurveyLocationIdExistAsWorkOrderLocation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetPricebookEntryId</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOverAllSurveyLocationIds</name>
        <label>LoopOverAllSurveyLocationIds</label>
        <locationX>1754</locationX>
        <locationY>2258</locationY>
        <assignNextValueToReference>SurveyLocationLoopItem</assignNextValueToReference>
        <collectionReference>UpdatedSurveyLocationsOnSiteSurvey</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckSurveyLocationIdsForNew</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>WhereToAssignSurveyLocationIds</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOverExistingSelectedWorkOrderLocations</name>
        <label>LoopOverExistingSelectedWorkOrderLocations</label>
        <locationX>1868</locationX>
        <locationY>5354</locationY>
        <assignNextValueToReference>WorkOrderLocationLoopItem</assignNextValueToReference>
        <collectionReference>WorkOrderLocationCollectionAfterInsert</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DoesSurveyLocationExistAlready</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AllWorkOrderLocationsForLineItemLoop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOverPreExistingSurveyLocations</name>
        <label>LoopOverPreExistingSurveyLocations</label>
        <locationX>2162</locationX>
        <locationY>920</locationY>
        <assignNextValueToReference>SurveyLocationLoopItem</assignNextValueToReference>
        <collectionReference>SurveyLocationsOnSiteSurvey</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddSurveyLocationIdToListPriorToNewLocations</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetWorkOrderLocations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopToBuildSelectedSurveyLocationIdCollection</name>
        <label>LoopToBuildSelectedSurveyLocationIdCollection</label>
        <locationX>1893</locationX>
        <locationY>3202</locationY>
        <assignNextValueToReference>SurveyLocationLoopItem</assignNextValueToReference>
        <collectionReference>UpdatedSurveyLocationsOnSiteSurvey</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_Selected_Survey_Location_Exist_in_All_Survey_Locations</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AllWorkOrderLocationsLoop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>NewWorkOrderLocationCollectionCheckLoop</name>
        <label>NewWorkOrderLocationCollectionCheckLoop</label>
        <locationX>1865</locationX>
        <locationY>4631</locationY>
        <assignNextValueToReference>WorkOrderLocationLoopItem</assignNextValueToReference>
        <collectionReference>NewWorkOrderLocationCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CalculateNumberOfNewWorkOrderLocations</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>IsNewWorOrderLocationCollectionNotEmpty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>CreateAllNewSurveyLocations</name>
        <label>CreateAllNewSurveyLocations</label>
        <locationX>2643</locationX>
        <locationY>2150</locationY>
        <connector>
            <targetReference>New_Survey_Locations_Confirmation_Screen</targetReference>
        </connector>
        <inputReference>NewSurveyLocationCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateNewWorkOrderLocations</name>
        <label>CreateNewWorkOrderLocations</label>
        <locationX>2157</locationX>
        <locationY>4846</locationY>
        <connector>
            <targetReference>Work_Order_Locations_Successfully_Inserted</targetReference>
        </connector>
        <inputReference>NewWorkOrderLocationCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>InsertNewWorkOrderLineItems</name>
        <label>InsertNewWorkOrderLineItems</label>
        <locationX>1872</locationX>
        <locationY>5968</locationY>
        <connector>
            <targetReference>DoesOrderHeaderNeedNewPONumber</targetReference>
        </connector>
        <inputReference>NewWorkOrderLineItemCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetAccount</name>
        <label>GetAccount</label>
        <locationX>1959</locationX>
        <locationY>664</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSurveyLocationsOnSiteSurvey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderRecord.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountOnWorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PO_Required_for_Orders__c</queriedFields>
        <queriedFields>PO_Required_on_Line_Item__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Is_Multi_Res__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetOrderRecord</name>
        <label>GetOrderRecord</label>
        <locationX>1526</locationX>
        <locationY>1296</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsAccountMultiResForOrderHeaderPO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderRecord.Order__c</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>OrderRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PoNumber</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetPricebookEntryId</name>
        <label>GetPricebookEntryId</label>
        <locationX>1867</locationX>
        <locationY>4039</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSelectedProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StandardPricebookId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedProductId</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputReference>SelectedPricebookEntryRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetSelectedProduct</name>
        <label>GetSelectedProduct</label>
        <locationX>1866</locationX>
        <locationY>4225</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Line_Items_Confirmation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedProductId</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>SelectedProductRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Service_Work_Type__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetSelectedWorkOrderLocations</name>
        <label>GetSelectedWorkOrderLocations</label>
        <locationX>1866</locationX>
        <locationY>5009</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOverExistingSelectedWorkOrderLocations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderRecord.Id</elementReference>
            </value>
        </filters>
        <object>Work_Order_Room__c</object>
        <outputReference>WorkOrderLocationCollectionAfterInsert</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Survey_Location__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetSurveyLocationsOnSiteSurvey</name>
        <label>GetSurveyLocationsOnSiteSurvey</label>
        <locationX>1958</locationX>
        <locationY>849</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOverPreExistingSurveyLocations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Site_Survey__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderRecord.Site_Survey__c</elementReference>
            </value>
        </filters>
        <object>Survey_Location__c</object>
        <outputReference>SurveyLocationsOnSiteSurvey</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Building__c</queriedFields>
        <queriedFields>Floor__c</queriedFields>
        <queriedFields>Location__c</queriedFields>
        <queriedFields>Location_Type__c</queriedFields>
        <queriedFields>Location_SubType__c</queriedFields>
        <queriedFields>Notes__c</queriedFields>
        <queriedFields>Unit_Number__c</queriedFields>
        <queriedFields>Number_of_Rooms__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Service_Order__c</queriedFields>
        <queriedFields>Service_Notes__c</queriedFields>
        <queriedFields>Suite_Number__c</queriedFields>
        <queriedFields>Site_Survey__c</queriedFields>
        <sortField>Floor__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetUpdatedListOfSurveyLocations</name>
        <label>GetUpdatedListOfSurveyLocations</label>
        <locationX>2090</locationX>
        <locationY>2152</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOverAllSurveyLocationIds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Site_Survey__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderRecord.Site_Survey__c</elementReference>
            </value>
        </filters>
        <object>Survey_Location__c</object>
        <outputReference>UpdatedSurveyLocationsOnSiteSurvey</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Building__c</queriedFields>
        <queriedFields>Floor__c</queriedFields>
        <queriedFields>Location__c</queriedFields>
        <queriedFields>Location_Type__c</queriedFields>
        <queriedFields>Location_SubType__c</queriedFields>
        <queriedFields>Notes__c</queriedFields>
        <queriedFields>Unit_Number__c</queriedFields>
        <queriedFields>Number_of_Rooms__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Service_Order__c</queriedFields>
        <queriedFields>Service_Notes__c</queriedFields>
        <queriedFields>Suite_Number__c</queriedFields>
        <queriedFields>Site_Survey__c</queriedFields>
        <sortField>Floor__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetWorkOrder</name>
        <label>GetWorkOrder</label>
        <locationX>1959</locationX>
        <locationY>234</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsWorkOrderPestEmergency</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrderRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Site_Survey__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <queriedFields>EndDate</queriedFields>
        <queriedFields>Order__c</queriedFields>
        <queriedFields>Emergency__c</queriedFields>
        <queriedFields>Line_of_Business__c</queriedFields>
        <queriedFields>WorkOrderNumber</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetWorkOrderLocations</name>
        <label>GetWorkOrderLocations</label>
        <locationX>1956</locationX>
        <locationY>1011</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsPONeededAndIsAccountMultiRes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderRecord.Id</elementReference>
            </value>
        </filters>
        <object>Work_Order_Room__c</object>
        <outputReference>WorkOrderLocationCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Survey_Location__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Floor__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>UpdateOrderWithNewPONumber</name>
        <label>UpdateOrderWithNewPONumber</label>
        <locationX>2100</locationX>
        <locationY>6345</locationY>
        <connector>
            <targetReference>Wizard_Completed_Screen</targetReference>
        </connector>
        <inputReference>OrderRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Create_New_Survey_Location_Screen</name>
        <label>Create New Survey Location Screen</label>
        <locationX>2420</locationX>
        <locationY>1718</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignSurveyLocationValues</targetReference>
        </connector>
        <fields>
            <name>WorkOrderInformationSectionNewSurveyLocationScreen</name>
            <fieldText>Work Order: {!WorkOrderRecord.WorkOrderNumber}
Account: {!AccountOnWorkOrder.Name}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LineBreakSurveyLocationScreen</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Building</name>
            <dataType>String</dataType>
            <fieldText>Building</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Floor</name>
            <dataType>String</dataType>
            <fieldText>Floor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Unit_Number</name>
            <dataType>String</dataType>
            <fieldText>Unit Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Service_Order</name>
            <dataType>Number</dataType>
            <fieldText>Service Order</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Number_of_Rooms</name>
            <choiceReferences>NumberOfRooms</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Number of Rooms</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Location_Type</name>
            <choiceReferences>LocationTypePicklistValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Location Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Location_Description</name>
            <dataType>String</dataType>
            <fieldText>Location Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Service_Notes</name>
            <fieldText>Service Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Create_Another_Survey_Location</name>
            <dataType>Boolean</dataType>
            <fieldText>Create Another Survey Location?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Line_Items_Confirmation</name>
        <label>New Line Items Confirmation</label>
        <locationX>1866</locationX>
        <locationY>4392</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>NewWorkOrderLocationCollectionCheckLoop</targetReference>
        </connector>
        <fields>
            <name>WorkOrderInformationWorkOrderLineItemConfirmation</name>
            <fieldText>Work Order: {!WorkOrderRecord.WorkOrderNumber}
Account: {!AccountOnWorkOrder.Name}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WorkOrderLineItemConfirmationMessage</name>
            <fieldText>You are about to create {!NumberOfSelectedSurveyLocations} Work Order Line Items with the Product {!SelectedProductRecord.Name}. Are you sure you wish to proceed?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Survey_Locations_Confirmation_Screen</name>
        <label>New Survey Locations Confirmation Screen</label>
        <locationX>2644</locationX>
        <locationY>2298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetUpdatedListOfSurveyLocations</targetReference>
        </connector>
        <fields>
            <name>New_Survey_Locations_Created_Message</name>
            <fieldText>&lt;p&gt;The Survey Locations have been successfully inserted and are selected to receive new Work Order Line Items.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>For Multi-Res</description>
        <name>Search_Product_With_PO_on_Order_Header</name>
        <label>Step 1: Search Product (With PO on Order Header Multi-Res)</label>
        <locationX>1601</locationX>
        <locationY>1620</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Create_New_Survey_Location_Checked</targetReference>
        </connector>
        <fields>
            <name>WorkOrderInformationSectionSearchProductWithPOonHeader</name>
            <fieldText>&lt;p&gt;Work Order: {!WorkOrderRecord.WorkOrderNumber}&lt;/p&gt;&lt;p&gt;Account: {!AccountOnWorkOrder.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessage2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!ErrorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Product_PO_Order_Header</name>
            <choiceReferences>AllPestControlServicesChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PO_Number_Order_Header</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>OrderRecord.PoNumber</elementReference>
            </defaultValue>
            <fieldText>PO Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Create_New_Survey_Locations_PO_Order_Header</name>
            <dataType>Boolean</dataType>
            <fieldText>Create New Survey Location(s)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_Survey_Locations_Order_Header</name>
            <choiceReferences>SurveyLocationChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Survey Location(s)</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>For Multi-Res</description>
        <name>Step_1_Search_Product_No_PO</name>
        <label>Step 1: Search Product (No PO)</label>
        <locationX>2287</locationX>
        <locationY>1640</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Create_New_Survey_Location_Checked</targetReference>
        </connector>
        <fields>
            <name>WorkOrderInformationSectionSearchProductNoPO</name>
            <fieldText>Work Order: {!WorkOrderRecord.WorkOrderNumber}
Account: {!AccountOnWorkOrder.Name}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessage6</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;{!ErrorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Selected_Product_No_PO</name>
            <choiceReferences>AllPestControlServicesChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Create_New_Survey_Location_No_PO</name>
            <dataType>Boolean</dataType>
            <fieldText>Create New Survey Location(s)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_Survey_Locations_No_PO</name>
            <choiceReferences>SurveyLocationChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Survey Location(s)</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step_1_Search_Product_No_PO_Commercial</name>
        <label>Step 1: Search Product (No PO)</label>
        <locationX>2209</locationX>
        <locationY>1553</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Create_New_Survey_Location_Checked</targetReference>
        </connector>
        <fields>
            <name>Description3</name>
            <fieldText>&lt;p&gt;Work Order: {!WorkOrderRecord.WorkOrderNumber}&lt;/p&gt;&lt;p&gt;Account: {!AccountOnWorkOrder.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessage5</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!ErrorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Product_No_PO_Commercial</name>
            <choiceReferences>AllPestControlServicesChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Service_Price_Per_Unit_No_PO_Commercial</name>
            <dataType>Currency</dataType>
            <fieldText>Service Price Per Unit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Create_New_Survey_Locations_No_PO_Commercial</name>
            <dataType>Boolean</dataType>
            <fieldText>Create New Survey Location(s)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_Survey_Locations_No_PO_Commercial</name>
            <choiceReferences>SurveyLocationChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Survey Location(s)</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>For Multi-Res</description>
        <name>Step_1_Search_Product_With_PO</name>
        <label>Step 1: Search Product (With PO on Line Item)</label>
        <locationX>2014</locationX>
        <locationY>1512</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Create_New_Survey_Location_Checked</targetReference>
        </connector>
        <fields>
            <name>WorkOrderInformationSectionSearchProductWithPO</name>
            <fieldText>Work Order: {!WorkOrderRecord.WorkOrderNumber}
Account: {!AccountOnWorkOrder.Name}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessage4</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;{!ErrorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Product_With_PO</name>
            <choiceReferences>AllPestControlServicesChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PO_Number_Line_Item</name>
            <dataType>String</dataType>
            <fieldText>PO Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Create_New_Survey_Locations_With_PO</name>
            <dataType>Boolean</dataType>
            <fieldText>Create New Survey Location(s)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_Survey_Locations_With_PO</name>
            <choiceReferences>SurveyLocationChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Survey Location(s)</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step_1_Search_Product_With_PO_on_Line_Item</name>
        <label>Step 1: Search Product (With PO on Line Item Commercial)</label>
        <locationX>1853</locationX>
        <locationY>1510</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Create_New_Survey_Location_Checked</targetReference>
        </connector>
        <fields>
            <name>Description2</name>
            <fieldText>&lt;p&gt;Work Order: {!WorkOrderRecord.WorkOrderNumber}&lt;/p&gt;&lt;p&gt;Account: {!AccountOnWorkOrder.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessage1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;{!ErrorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Product_PO_Line_Item_Commercial</name>
            <choiceReferences>AllPestControlServicesChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Service_Price_Per_Unit_PO_Line_Item_Commercial</name>
            <dataType>Currency</dataType>
            <fieldText>Service Price Per Unit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>PO_Number_PO_Line_Item_Commercial</name>
            <dataType>String</dataType>
            <fieldText>PO Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Create_New_Survey_Locations_PO_Line_Item_Commercial</name>
            <dataType>Boolean</dataType>
            <fieldText>Create New Survey Location(s)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_Survey_Locations_PO_Line_Item_Commercial</name>
            <choiceReferences>SurveyLocationChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Survey Location(s)</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>For Commercial</description>
        <name>Step_1_Search_Product_With_PO_on_Order_Header</name>
        <label>Step 1: Search Product (With PO on Order Header Commercial)</label>
        <locationX>1510</locationX>
        <locationY>1725</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Create_New_Survey_Location_Checked</targetReference>
        </connector>
        <fields>
            <name>Description1</name>
            <fieldText>&lt;p&gt;Work Order: {!WorkOrderRecord.WorkOrderNumber}&lt;/p&gt;&lt;p&gt;Account: {!AccountOnWorkOrder.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessage3</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!ErrorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Product_PO_header_Commercial</name>
            <choiceReferences>AllPestControlServicesChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Service_Price_Per_Unit_PO_Header</name>
            <dataType>Currency</dataType>
            <fieldText>Service Price Per Unit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>PO_Number_Order_Header_Commercial</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>OrderRecord.PoNumber</elementReference>
            </defaultValue>
            <fieldText>PO Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Create_New_Survey_Locations_PO_Header_Commercial</name>
            <dataType>Boolean</dataType>
            <fieldText>Create New Survey Location(s)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_Survey_Locations_PO_Header_Commercial</name>
            <choiceReferences>SurveyLocationChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Survey Location(s)</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Wizard_Completed_Screen</name>
        <label>Wizard Completed Screen</label>
        <locationX>1877</locationX>
        <locationY>6343</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ResetAllVariables</targetReference>
        </connector>
        <fields>
            <name>WorkOrderInformationWizardCompleted</name>
            <fieldText>Work Order: {!WorkOrderRecord.WorkOrderNumber}
Account: {!AccountOnWorkOrder.Name}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>output</name>
            <fieldText>The wizard has been completed. You created a total of {!NumberOfWorkOrderLineItemsToCreate} Work Order Line Items. Please navigate to the Work Order Line Items related list to view these records.

Would you like to create more Work Order Line Items with a different Product?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Create_More_Work_Order_Line_Items_Checkbox</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Create More Work Order Line Items</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Work_Order_Is_Not_Pest_Emergency</name>
        <label>Work Order Is Not Pest Emergency</label>
        <locationX>1733</locationX>
        <locationY>451</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>WorkOrderIsNotPestError</name>
            <fieldText>&lt;p&gt;This Flow cannot run because the Line of Business is not Pest Control, or because the Work Order is already Completed. Please click &quot;Finish&quot; to return to the Work Order.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Work_Order_Locations_Successfully_Inserted</name>
        <label>Work Order Locations Successfully Inserted</label>
        <locationX>2160</locationX>
        <locationY>5008</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetSelectedWorkOrderLocations</targetReference>
        </connector>
        <fields>
            <name>WorkorderLocationsSuccessfullyInsertedHeader</name>
            <fieldText>Work Order: {!WorkOrderRecord.WorkOrderNumber}
Account: {!AccountOnWorkOrder.Name}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WorkOrderLocationsSuccessfullyInsertedMessage</name>
            <fieldText>New Work Order Locations have successfully been created.

Please click &quot;Next&quot; to create the Work Order Line Items.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>GetWorkOrder</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountOnWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CapturedPONumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ClearNewWorkOrderLineItemCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>ClearStringCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ClearSurveyLocationCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Survey_Location__c</objectType>
    </variables>
    <variables>
        <name>ClearWorkOrderLocationCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Work_Order_Room__c</objectType>
    </variables>
    <variables>
        <name>CreatedSurveyLocationIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CreatedSurveyLocationIdsList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmptyStringCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmptySurveyLocationCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Survey_Location__c</objectType>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewSurveyLocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Survey_Location__c</objectType>
    </variables>
    <variables>
        <name>NewSurveyLocationCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Survey_Location__c</objectType>
    </variables>
    <variables>
        <name>NewSurveyLocationLoopItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Survey_Location__c</objectType>
    </variables>
    <variables>
        <name>NewWorkOrderLineItemCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>NewWorkOrderLineItemRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>NewWorkOrderLocationCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Work_Order_Room__c</objectType>
    </variables>
    <variables>
        <name>NewWorkOrderLocationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Work_Order_Room__c</objectType>
    </variables>
    <variables>
        <name>NumberOfNewWorkOrderLocations</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NumberOfSelectedSurveyLocations</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NumberOfWorkOrderLineItemsToCreate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>ProductServicePricePerUnit</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SelectedPricebookEntryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>SelectedProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedProductRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>SelectedSurveyLocationIdLoopItem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedSurveyLocationIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedSurveyLocationRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Survey_Location__c</objectType>
    </variables>
    <variables>
        <name>SurveyLocationIdLoopItem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SurveyLocationIdsBeforeInsertList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SurveyLocationIdsForNewWorkOrderLocationRecords</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SurveyLocationIdsOnSiteSurveyList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SurveyLocationLoopItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Survey_Location__c</objectType>
    </variables>
    <variables>
        <name>SurveyLocationsAlreadyOnWorkOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SurveyLocationsOnSiteSurvey</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Survey_Location__c</objectType>
    </variables>
    <variables>
        <name>UpdatedSurveyLocationsOnSiteSurvey</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Survey_Location__c</objectType>
    </variables>
    <variables>
        <name>WorkOrderLocationCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Work_Order_Room__c</objectType>
    </variables>
    <variables>
        <name>WorkOrderLocationCollectionAfterInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Work_Order_Room__c</objectType>
    </variables>
    <variables>
        <name>WorkOrderLocationCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>WorkOrderLocationLoopItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Work_Order_Room__c</objectType>
    </variables>
    <variables>
        <name>WorkOrderLocationsToReceiveLineItemsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Work_Order_Room__c</objectType>
    </variables>
    <variables>
        <name>WorkOrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
