force-app/main/default/flows/Change_Order_Product_POC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Barcode_from_Line_Item_PO_Screen_Commercial</name>
        <label>Assign Barcode from Line Item PO Screen Commercial</label>
        <locationX>1266</locationX>
        <locationY>2596</locationY>
        <assignmentItems>
            <assignToReference>BarcodeScanned</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Barcode_PO_Order_Line_Item_Commercial</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServicePricePerUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Price_Per_Unit_PO_Line_Item</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PONumberToStamp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PO_Number_Line_Item_Commercial</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetProductFromBarcode</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Barcode_from_No_PO_Screen_Commercial</name>
        <label>Assign Barcode from No PO Screen Commercial</label>
        <locationX>1393</locationX>
        <locationY>2591</locationY>
        <assignmentItems>
            <assignToReference>BarcodeScanned</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Barcode_No_PO_Commercial</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServicePricePerUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Price_Per_Unit_No_PO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetProductFromBarcode</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Barcode_From_No_PO_Screen_Multi_Res</name>
        <label>Assign Barcode From No PO Screen Multi-Res</label>
        <locationX>2070</locationX>
        <locationY>2607</locationY>
        <assignmentItems>
            <assignToReference>BarcodeScanned</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Barcode_No_PO_MultiRes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetProductFromBarcode</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Barcode_from_Order_PO_Screen</name>
        <label>Assign Barcode from Order PO Screen Multi-Res</label>
        <locationX>1836</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>BarcodeScanned</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Barcode_with_PO_from_Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PONumberToStamp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PO_Number_from_Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetProductFromBarcode</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Barcode_from_Order_PO_Screen_Commercial</name>
        <label>Assign Barcode from Order PO Screen Commercial</label>
        <locationX>1134</locationX>
        <locationY>2595</locationY>
        <assignmentItems>
            <assignToReference>BarcodeScanned</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Barcode_PO_Order_Header_Commercial</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServicePricePerUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Price_per_Unit_PO_Order_Header</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PONumberToStamp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PO_Number_Order_Header_Commercial</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetProductFromBarcode</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Barcode_From_Order_Product_PO_Number_Multi_Res</name>
        <label>Assign Barcode From Order Product PO Number Multi-Res</label>
        <locationX>1956</locationX>
        <locationY>2604</locationY>
        <assignmentItems>
            <assignToReference>BarcodeScanned</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Barcode_with_PO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PONumberToStamp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PO_Number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetProductFromBarcode</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewOrderProcuctWithPONumber</name>
        <label>AssignNewOrderProcuctWithPONumber</label>
        <locationX>663</locationX>
        <locationY>4054</locationY>
        <assignmentItems>
            <assignToReference>OrderProduct.PO_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PONumberToStamp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ShouldStandingOrderPriceEngineBeBypassed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNoPONoBarcodeMultiRes</name>
        <label>AssignNoPONoBarcodeMultiRes</label>
        <locationX>926</locationX>
        <locationY>2599</locationY>
        <assignmentItems>
            <assignToReference>SelectedProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetPricebookEntryId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPOFromOrderHeaderCommercial</name>
        <label>AssignPOFromOrderHeaderCommercial</label>
        <locationX>499</locationX>
        <locationY>1699</locationY>
        <assignmentItems>
            <assignToReference>PONumberBeingReplaced</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order.PoNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Product_to_Replace_with_PO_Number_on_Header_Commercial</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPOFromOrderHeaderMultiRes</name>
        <label>AssignPOFromOrderHeaderMultiRes</label>
        <locationX>1300</locationX>
        <locationY>1582</locationY>
        <assignmentItems>
            <assignToReference>POFromOrderHeader</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order.PoNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Product_to_Replace_with_PO_Number_from_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPOFromOrderHeaderNoBarcodeMultiRes</name>
        <label>AssignPOFromOrderHeaderNoBarcodeMultiRes</label>
        <locationX>685</locationX>
        <locationY>2586</locationY>
        <assignmentItems>
            <assignToReference>PONumberToStamp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PO_Number_from_Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Product_with_PO_from_Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetPricebookEntryId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPOFromOrderProductCommercial</name>
        <label>AssignPOFromOrderProductCommercial</label>
        <locationX>615</locationX>
        <locationY>1701</locationY>
        <assignmentItems>
            <assignToReference>PONumberBeingReplaced</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderProduct.PO_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Product_to_Replace_with_PO_Number_on_Line_Item_Commercial</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPOFromOrderProductMultiRes</name>
        <label>AssignPOFromOrderProductMultiRes</label>
        <locationX>1176</locationX>
        <locationY>1641</locationY>
        <assignmentItems>
            <assignToReference>PONumberBeingReplaced</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderProduct.PO_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Product_to_Replace_with_PO_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPOFromOrderProductNoBarcodeMultiRes</name>
        <label>AssignPOFromOrderProductNoBarcodeMultiRes</label>
        <locationX>798</locationX>
        <locationY>2591</locationY>
        <assignmentItems>
            <assignToReference>PONumberToStamp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PO_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Product_with_PO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetPricebookEntryId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductWithAssetsProduct</name>
        <label>AssignProductWithAssetsProduct</label>
        <locationX>1577</locationX>
        <locationY>3248</locationY>
        <assignmentItems>
            <assignToReference>SelectedProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScannedProduct.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetPricebookEntryId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSelectedProductError</name>
        <label>AssignSelectedProductErrorForLoB</label>
        <locationX>2349</locationX>
        <locationY>3109</locationY>
        <assignmentItems>
            <assignToReference>SelectedProductError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The scanned Product is not a Pest Control Product or does not allow the One-Time frequency.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsPORequiredAndIsMultiRes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSelectedProductErrorForNoAssetFound</name>
        <label>AssignSelectedProductErrorForNoAssetFound</label>
        <locationX>2243</locationX>
        <locationY>3019</locationY>
        <assignmentItems>
            <assignToReference>SelectedProductError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Product was found with the provided barcode.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsPORequiredAndIsMultiRes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignServicePriceFromLineItem</name>
        <label>AssignServicePriceFromLineItem</label>
        <locationX>224</locationX>
        <locationY>2898</locationY>
        <assignmentItems>
            <assignToReference>ServicePricePerUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Price_Per_Unit_PO_Line_Item</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Product_PO_Line_Item_Commercial</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PONumberToStamp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PO_Number_Line_Item_Commercial</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetPricebookEntryId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignServicePriceFromNoPO</name>
        <label>AssignServicePriceFromNoPO</label>
        <locationX>381</locationX>
        <locationY>2887</locationY>
        <assignmentItems>
            <assignToReference>ServicePricePerUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Price_Per_Unit_No_PO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Product_No_PO_Commercial</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetPricebookEntryId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignServicePricePerUnitOrderHeaderCommercial</name>
        <label>AssignServicePricePerUnitOrderHeaderCommercial</label>
        <locationX>78</locationX>
        <locationY>2893</locationY>
        <assignmentItems>
            <assignToReference>ServicePricePerUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Price_per_Unit_PO_Order_Header</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Product_PO_Order_Header_Commercial</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PONumberToStamp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PO_Number_Order_Header_Commercial</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetPricebookEntryId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignWorkOrderLineItemNewOrderProduct</name>
        <label>AssignWorkOrderLineItemNewOrderProduct</label>
        <locationX>890</locationX>
        <locationY>5317</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderLineItem.Order_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewOrderProductId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedPricebookEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderLineItem.Has_Order_Product_Been_Replaced__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderLineItem.Product_Service_Price_Per_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServicePricePerUnit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateWorkOrderLineItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BypassPriceEngine</name>
        <label>BypassPriceEngine</label>
        <locationX>701</locationX>
        <locationY>4372</locationY>
        <assignmentItems>
            <assignToReference>BypassStandingOrderPriceEngine</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateNewOrderProduct</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>DefaultProductChoice</name>
        <choiceText>{!SelectedProductNameFromWorkOrderLineItem}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>SelectedProductIdFromWorkOrderLineItem</elementReference>
        </value>
    </choices>
    <constants>
        <name>OneTimeValue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>One-Time</stringValue>
        </value>
    </constants>
    <constants>
        <name>StandardPricebookId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01sj0000001Xd3OAAS</stringValue>
        </value>
    </constants>
    <decisions>
        <name>BarcodeNotScannedWhereIsServicePriceFrom</name>
        <label>BarcodeNotScannedWhereIsServicePriceFrom</label>
        <locationX>316</locationX>
        <locationY>2310</locationY>
        <defaultConnector>
            <targetReference>AssignServicePriceFromNoPO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Service Price from No PO</defaultConnectorLabel>
        <rules>
            <name>ServicePriceFromPOHeader</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PO_Number_Order_Header_Commercial</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PO_Number_Order_Header_Commercial</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.PO_Required_on_Line_Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignServicePricePerUnitOrderHeaderCommercial</targetReference>
            </connector>
            <label>ServicePriceFromPOHeader</label>
        </rules>
        <rules>
            <name>ServicePriceFromLineItem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PO_Number_Line_Item_Commercial</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PO_Number_Line_Item_Commercial</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.PO_Required_on_Line_Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignServicePriceFromLineItem</targetReference>
            </connector>
            <label>ServicePriceFromLineItem</label>
        </rules>
    </decisions>
    <decisions>
        <name>DoesLineItemHaveOrderProduct</name>
        <label>DoesLineItemHaveOrderProduct</label>
        <locationX>738</locationX>
        <locationY>559</locationY>
        <defaultConnector>
            <targetReference>No_Order_Product_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Line Item Does Not Have Order Product</defaultConnectorLabel>
        <rules>
            <name>Line_Item_Has_Order_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderLineItem.Order_Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrder.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrder.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAccount</targetReference>
            </connector>
            <label>Line Item Has Order Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>DoesOrderProductNeedPONumber</name>
        <label>DoesOrderProductNeedPONumber</label>
        <locationX>917</locationX>
        <locationY>3944</locationY>
        <defaultConnector>
            <targetReference>ShouldStandingOrderPriceEngineBeBypassed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Order Product Does Not Need PO</defaultConnectorLabel>
        <rules>
            <name>POOnLineItem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.PO_Required_for_Orders__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PO Required Before</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.PO_Required_on_Line_Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignNewOrderProcuctWithPONumber</targetReference>
            </connector>
            <label>POOnOrderProduct</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsBarcodeProvidedFromCommercial</name>
        <label>IsBarcodeProvidedFromCommercial</label>
        <locationX>901</locationX>
        <locationY>2119</locationY>
        <defaultConnector>
            <targetReference>BarcodeNotScannedWhereIsServicePriceFrom</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Barocde not Scanned</defaultConnectorLabel>
        <rules>
            <name>BarcodeIsProvidedCommercial</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>Barcode_PO_Order_Header_Commercial</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Barcode_PO_Order_Header_Commercial</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Barcode_PO_Order_Line_Item_Commercial</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Barcode_PO_Order_Line_Item_Commercial</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Barcode_No_PO_Commercial</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Barcode_No_PO_Commercial</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WhereIsBarcodeComingFrom</targetReference>
            </connector>
            <label>BarcodeIsProvidedCommercial</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsBarcodeProvidedFromMultiRes</name>
        <label>IsBarcodeProvidedFromMultiRes</label>
        <locationX>1142</locationX>
        <locationY>2265</locationY>
        <defaultConnector>
            <targetReference>NoBarcodeMultiResAssignPONumber</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Barcode not Scanned</defaultConnectorLabel>
        <rules>
            <name>BarcodeIsProvidedMultiRes</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>Barcode_No_PO_MultiRes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Barcode_No_PO_MultiRes</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Barcode_with_PO_from_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Barcode_with_PO_from_Order</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Barcode_with_PO</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Barcode_with_PO</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WhereIsBarcodeComingFrom</targetReference>
            </connector>
            <label>BarcodeIsProvidedMultiRes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsPORequiredAndIsMultiRes</name>
        <label>IsPORequiredAndIsMultiRes</label>
        <locationX>745</locationX>
        <locationY>1409</locationY>
        <defaultConnector>
            <targetReference>Select_Product_to_Replace</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PO Not Required and Is Multi-Res</defaultConnectorLabel>
        <rules>
            <name>PORequiredOnOrderHeaderAndIsMultiRes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.PO_Required_on_Line_Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.PO_Required_for_Orders__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PO Required Before</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.Is_Multi_Res__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignPOFromOrderHeaderMultiRes</targetReference>
            </connector>
            <label>PORequiredOnOrderHeaderAndIsMultiRes</label>
        </rules>
        <rules>
            <name>PORequiredOnOrderHeaderAndIsCommercial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.PO_Required_for_Orders__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PO Required Before</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.PO_Required_on_Line_Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.Is_Multi_Res__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignPOFromOrderHeaderCommercial</targetReference>
            </connector>
            <label>PORequiredOnOrderHeaderAndIsCommercial</label>
        </rules>
        <rules>
            <name>PORequiredOnOrderProductAndIsMultiRes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.PO_Required_on_Line_Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.PO_Required_for_Orders__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PO Required Before</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.Is_Multi_Res__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignPOFromOrderProductMultiRes</targetReference>
            </connector>
            <label>PORequiredOnOrderProductAndIsMultiRes</label>
        </rules>
        <rules>
            <name>PORequiredOnOrderProductAndIsCommercial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.PO_Required_for_Orders__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PO Required Before</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.PO_Required_on_Line_Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.Is_Multi_Res__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignPOFromOrderProductCommercial</targetReference>
            </connector>
            <label>PORequiredOnOrderProductAndIsCommercial</label>
        </rules>
        <rules>
            <name>PONotRequiredAndIsCommercial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.PO_Required_for_Orders__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PO Required Before</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.Is_Multi_Res__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Product_to_Replace_Commercial</targetReference>
            </connector>
            <label>PONotRequiredAndIsCommercial</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsScannedProductPestControl</name>
        <label>IsScannedProductPestControl</label>
        <locationX>1572</locationX>
        <locationY>3056</locationY>
        <defaultConnector>
            <targetReference>AssignProductWithAssetsProduct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Product Found and Valid</defaultConnectorLabel>
        <rules>
            <name>NoAssetFoundFromBarcode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ScannedProduct</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignSelectedProductErrorForNoAssetFound</targetReference>
            </connector>
            <label>NoAssetFoundFromBarcode</label>
        </rules>
        <rules>
            <name>ScannedProductIsNotPestControl</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ScannedProduct.Family</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pest Control</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScannedProduct.Allows_One_Time__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignSelectedProductError</targetReference>
            </connector>
            <label>ScannedProductIsNotPestControl</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsWorkOrderPestAndEmergency</name>
        <label>IsWorkOrderPestAndEmergency</label>
        <locationX>740</locationX>
        <locationY>909</locationY>
        <defaultConnector>
            <targetReference>WorkOrderNotPestAndEmergency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Work Order not Valid for Flow</defaultConnectorLabel>
        <rules>
            <name>WorkOrderIsPestAndEmergency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrder.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pest Control</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrder.Emergency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrderLineItem.Is_Current_User_Pest_Tech__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOrderProduct</targetReference>
            </connector>
            <label>WorkOrderIsPestAndEmergency</label>
        </rules>
    </decisions>
    <decisions>
        <name>NoBarcodeMultiResAssignPONumber</name>
        <label>NoBarcodeMultiResAssignPONumber</label>
        <locationX>842</locationX>
        <locationY>2430</locationY>
        <defaultConnector>
            <targetReference>AssignNoPONoBarcodeMultiRes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PO Not Required</defaultConnectorLabel>
        <rules>
            <name>POFromOrderHeaderMultiRes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PO_Number_from_Order</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PO_Number_from_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignPOFromOrderHeaderNoBarcodeMultiRes</targetReference>
            </connector>
            <label>POFromOrderHeaderMultiRes</label>
        </rules>
        <rules>
            <name>POFromOrderProductMultiRes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PO_Number</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PO_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignPOFromOrderProductNoBarcodeMultiRes</targetReference>
            </connector>
            <label>POFromOrderProductMultiRes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ShouldStandingOrderPriceEngineBeBypassed</name>
        <label>ShouldStandingOrderPriceEngineBeBypassed</label>
        <locationX>917</locationX>
        <locationY>4190</locationY>
        <defaultConnector>
            <targetReference>CreateNewOrderProduct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>EngineShouldNotBeBypassed</defaultConnectorLabel>
        <rules>
            <name>EngineShouldBeBypassed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ServicePricePerUnit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BypassPriceEngine</targetReference>
            </connector>
            <label>EngineShouldBeBypassed</label>
        </rules>
    </decisions>
    <decisions>
        <name>UpdateOrderPODecision</name>
        <label>UpdateOrderPODecision</label>
        <locationX>886</locationX>
        <locationY>5111</locationY>
        <defaultConnector>
            <targetReference>AssignWorkOrderLineItemNewOrderProduct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PO Not from Order</defaultConnectorLabel>
        <rules>
            <name>POFromOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.PO_Required_for_Orders__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PO Required Before</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.PO_Required_on_Line_Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActivateOrderWithoutPO</targetReference>
            </connector>
            <label>POFromOrder</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhereIsBarcodeComingFrom</name>
        <label>WhereIsBarcodeComingFrom</label>
        <locationX>1577</locationX>
        <locationY>2431</locationY>
        <defaultConnector>
            <targetReference>Assign_Barcode_From_No_PO_Screen_Multi_Res</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Barcode from No PO Required Screen Multi-Res</defaultConnectorLabel>
        <rules>
            <name>BarcodeFromLineItemPORequiredMultiRes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Barcode_with_PO</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Barcode_with_PO</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.Is_Multi_Res__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.PO_Required_on_Line_Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Barcode_From_Order_Product_PO_Number_Multi_Res</targetReference>
            </connector>
            <label>BarcodeFromLineItemPORequiredMultiRes</label>
        </rules>
        <rules>
            <name>BarcodeFromPOLineItemCommercial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Barcode_PO_Order_Line_Item_Commercial</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Barcode_PO_Order_Line_Item_Commercial</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.Is_Multi_Res__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.PO_Required_on_Line_Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Barcode_from_Line_Item_PO_Screen_Commercial</targetReference>
            </connector>
            <label>BarcodeFromPOLineItemCommercial</label>
        </rules>
        <rules>
            <name>BarcodeFromOrderHeaderPOScreenMultiRes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Barcode_with_PO_from_Order</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Barcode_with_PO_from_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.Is_Multi_Res__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.PO_Required_on_Line_Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Barcode_from_Order_PO_Screen</targetReference>
            </connector>
            <label>BarcodeFromOrderHeaderPOScreenMultiRes</label>
        </rules>
        <rules>
            <name>BarcodeFromOrderHeaderPOScreenCommercial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Barcode_PO_Order_Header_Commercial</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Barcode_PO_Order_Header_Commercial</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.Is_Multi_Res__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.PO_Required_on_Line_Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Barcode_from_Order_PO_Screen_Commercial</targetReference>
            </connector>
            <label>BarcodeFromOrderHeaderPOScreenCommercial</label>
        </rules>
        <rules>
            <name>BarcodeFromNoPOCommercial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Barcode_No_PO_Commercial</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Barcode_No_PO_Commercial</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountOnWorkOrder.Is_Multi_Res__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Barcode_from_No_PO_Screen_Commercial</targetReference>
            </connector>
            <label>BarcodeFromNoPOCommercial</label>
        </rules>
    </decisions>
    <description>added validation against &quot;completed&quot; and &quot;cannot complete&quot; on the Work Order</description>
    <dynamicChoiceSets>
        <name>AvailableProductsSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Allows_One_Time__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsPestService__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProductCode</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>1-55</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>frequency</assignToReference>
            <field>Allowable_Frequencies__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedProductId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Change Order Product POC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Replace Order Service</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>CreateNewOrderItemLocation</name>
        <label>CreateNewOrderItemLocation</label>
        <locationX>893</locationX>
        <locationY>4934</locationY>
        <connector>
            <targetReference>UpdateOrderPODecision</targetReference>
        </connector>
        <inputAssignments>
            <field>Order_Product__c</field>
            <value>
                <elementReference>NewOrderProductId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Asset_Location__c</field>
            <value>
                <elementReference>NewSurveyAssetLocationId</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Item_Location__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateNewOrderProduct</name>
        <label>CreateNewOrderProduct</label>
        <locationX>919</locationX>
        <locationY>4542</locationY>
        <assignRecordIdToReference>NewOrderProductId</assignRecordIdToReference>
        <connector>
            <targetReference>CreateSurveyAssetLocation</targetReference>
        </connector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bypass_Standing_Order_Price_Engine__c</field>
            <value>
                <elementReference>BypassStandingOrderPriceEngine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Frequency__c</field>
            <value>
                <elementReference>OrderProduct.Frequency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Installation_Notes__c</field>
            <value>
                <elementReference>OrderProduct.Installation_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Installation_Price__c</field>
            <value>
                <elementReference>OrderProduct.Installation_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Installation_Status__c</field>
            <value>
                <elementReference>OrderProduct.Installation_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Replacement_from_Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Scanned_Date__c</field>
            <value>
                <elementReference>OrderProduct.Last_Scanned_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Revenue__c</field>
            <value>
                <elementReference>OrderProduct.Monthly_Revenue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Obsolete_Order_Product__c</field>
            <value>
                <elementReference>OrderProduct.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderId</field>
            <value>
                <elementReference>OrderProduct.OrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PO_Number__c</field>
            <value>
                <elementReference>OrderProduct.PO_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>SelectedPricebookEntry.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <elementReference>OrderProduct.Product_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Price__c</field>
            <value>
                <elementReference>OrderProduct.Purchase_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>OrderProduct.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Serial_Number__c</field>
            <value>
                <elementReference>OrderProduct.Serial_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceDate</field>
            <value>
                <elementReference>OrderProduct.ServiceDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Price_Per_Unit__c</field>
            <value>
                <elementReference>ServicePricePerUnit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Location__c</field>
            <value>
                <elementReference>OrderProduct.Survey_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>OrderProduct.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valid_for_Install_Remove_Replace__c</field>
            <value>
                <elementReference>OrderProduct.Valid_for_Install_Remove_Replace__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderItem</object>
    </recordCreates>
    <recordCreates>
        <name>CreateSurveyAssetLocation</name>
        <label>CreateSurveyAssetLocation</label>
        <locationX>902</locationX>
        <locationY>4717</locationY>
        <assignRecordIdToReference>NewSurveyAssetLocationId</assignRecordIdToReference>
        <connector>
            <targetReference>CreateNewOrderItemLocation</targetReference>
        </connector>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Selected_Product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Frequency__c</field>
            <value>
                <elementReference>OrderProduct.Frequency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Survey__c</field>
            <value>
                <elementReference>Order.Site_Survey__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Location__c</field>
            <value>
                <elementReference>OrderProduct.Survey_Location__c</elementReference>
            </value>
        </inputAssignments>
        <object>Survey_Asset_Location__c</object>
    </recordCreates>
    <recordLookups>
        <name>GetAccount</name>
        <label>GetAccount</label>
        <locationX>750</locationX>
        <locationY>739</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsWorkOrderPestAndEmergency</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrder.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountOnWorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PO_Required_on_Line_Item__c</queriedFields>
        <queriedFields>PO_Required_for_Orders__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Is_Multi_Res__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetOrder</name>
        <label>GetOrder</label>
        <locationX>754</locationX>
        <locationY>1237</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsPORequiredAndIsMultiRes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderProduct.OrderId</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>Order</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Site_Survey__c</queriedFields>
        <queriedFields>PoNumber</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetOrderProduct</name>
        <label>GetOrderProduct</label>
        <locationX>754</locationX>
        <locationY>1067</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderLineItem.Order_Product__c</elementReference>
            </value>
        </filters>
        <object>OrderItem</object>
        <outputReference>OrderProduct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Active__c</queriedFields>
        <queriedFields>Frequency__c</queriedFields>
        <queriedFields>Service_Price_Per_Unit__c</queriedFields>
        <queriedFields>Purchase_Price__c</queriedFields>
        <queriedFields>Installation_Price__c</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>Serial_Number__c</queriedFields>
        <queriedFields>Valid_for_Install_Remove_Replace__c</queriedFields>
        <queriedFields>Installation_Notes__c</queriedFields>
        <queriedFields>Service_Notes__c</queriedFields>
        <queriedFields>Monthly_Revenue__c</queriedFields>
        <queriedFields>OrderId</queriedFields>
        <queriedFields>Requested_Price__c</queriedFields>
        <queriedFields>Requested_Price_Approved__c</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>Installation_Status__c</queriedFields>
        <queriedFields>Product_Type__c</queriedFields>
        <queriedFields>ServiceDate</queriedFields>
        <queriedFields>Last_Scanned_Date__c</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>Survey_Location__c</queriedFields>
        <queriedFields>Asset__c</queriedFields>
        <queriedFields>PO_Number__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetPricebookEntryId</name>
        <label>GetPricebookEntryId</label>
        <locationX>935</locationX>
        <locationY>3262</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DeactivateOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StandardPricebookId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedProductId</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputReference>SelectedPricebookEntry</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetProductFromBarcode</name>
        <label>GetProductFromBarcode</label>
        <locationX>1585</locationX>
        <locationY>2853</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsScannedProductPestControl</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UPC_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BarcodeScanned</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>ScannedProduct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Family</queriedFields>
        <queriedFields>Allows_One_Time__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetWorkOrder</name>
        <label>GetWorkOrder</label>
        <locationX>746</locationX>
        <locationY>391</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoesLineItemHaveOrderProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderLineItem.WorkOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Emergency__c</queriedFields>
        <queriedFields>Line_of_Business__c</queriedFields>
        <queriedFields>WorkOrderNumber</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetWorkOrderLineItem</name>
        <label>GetWorkOrderLineItem</label>
        <locationX>747</locationX>
        <locationY>223</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetWorkOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>WorkOrderLineItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Order_Product__c</queriedFields>
        <queriedFields>OrderId</queriedFields>
        <queriedFields>LineItemNumber</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
        <queriedFields>Is_Current_User_Pest_Tech__c</queriedFields>
        <queriedFields>Has_Order_Product_Been_Replaced__c</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Product_Name__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>ActivateOrderWithoutPO</name>
        <label>ActivateOrderWithoutPO</label>
        <locationX>706</locationX>
        <locationY>5317</locationY>
        <connector>
            <targetReference>AssignWorkOrderLineItemNewOrderProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderLineItem.OrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PoNumber</field>
            <value>
                <elementReference>PONumberToStamp</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>DeactivateOrder</name>
        <label>DeactivateOrder</label>
        <locationX>927</locationX>
        <locationY>3577</locationY>
        <connector>
            <targetReference>DeactivateOrderProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderLineItem.OrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>DeactivateOrderProduct</name>
        <label>DeactivateOrderProduct</label>
        <locationX>926</locationX>
        <locationY>3761</locationY>
        <connector>
            <targetReference>DoesOrderProductNeedPONumber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderLineItem.Order_Product__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deactivated_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>OrderItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateWorkOrderLineItem</name>
        <label>UpdateWorkOrderLineItem</label>
        <locationX>888</locationX>
        <locationY>5517</locationY>
        <connector>
            <targetReference>Wizard_Completed</targetReference>
        </connector>
        <inputReference>WorkOrderLineItem</inputReference>
    </recordUpdates>
    <screens>
        <name>No_Order_Product_Found</name>
        <label>No Order Product Found</label>
        <locationX>544</locationX>
        <locationY>556</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_Order_Product_Message</name>
            <fieldText>&lt;p&gt;This Work Order Line Item does not have a related Order Product to have replaced.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please close the flow.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Product_to_Replace</name>
        <label>Select Product to Replace (Multi-Res)</label>
        <locationX>1024</locationX>
        <locationY>1946</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IsBarcodeProvidedFromMultiRes</targetReference>
        </connector>
        <fields>
            <name>Screen_Header</name>
            <fieldText>&lt;p&gt;Work Order Line Item: {!WorkOrderLineItem.LineItemNumber}&lt;/p&gt;&lt;p&gt;Work Order: {!WorkOrder.WorkOrderNumber}&lt;/p&gt;&lt;p&gt;Account: {!AccountOnWorkOrder.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!SelectedProductError}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EmptySpace</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Selected_Product</name>
            <choiceReferences>AvailableProductsSet</choiceReferences>
            <choiceReferences>DefaultProductChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>DefaultProductChoice</defaultSelectedChoiceReference>
            <fieldText>Select Service</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Barcode_No_PO_MultiRes</name>
            <dataType>String</dataType>
            <fieldText>Barcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Product_to_Replace_Commercial</name>
        <label>Select Product to Replace (Commercial)</label>
        <locationX>716</locationX>
        <locationY>1940</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IsBarcodeProvidedFromCommercial</targetReference>
        </connector>
        <fields>
            <name>Description1</name>
            <fieldText>&lt;p&gt;Work Order Line Item: {!WorkOrderLineItem.LineItemNumber}&lt;/p&gt;&lt;p&gt;Work Order: {!WorkOrder.WorkOrderNumber}&lt;/p&gt;&lt;p&gt;Account: {!AccountOnWorkOrder.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!SelectedProductError}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Gap1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Product_No_PO_Commercial</name>
            <choiceReferences>DefaultProductChoice</choiceReferences>
            <choiceReferences>AvailableProductsSet</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>DefaultProductChoice</defaultSelectedChoiceReference>
            <fieldText>Select Service</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Barcode_No_PO_Commercial</name>
            <dataType>String</dataType>
            <fieldText>Barcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Service_Price_Per_Unit_No_PO</name>
            <dataType>Currency</dataType>
            <fieldText>Service Price Per Unit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Product_to_Replace_with_PO_Number</name>
        <label>Select Product to Replace with PO Number from Order Product (Multi-Res)</label>
        <locationX>1176</locationX>
        <locationY>1939</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IsBarcodeProvidedFromMultiRes</targetReference>
        </connector>
        <fields>
            <name>SelectProductPORequired</name>
            <fieldText>Work Order: {!WorkOrder.WorkOrderNumber}
Work Order Line Item: {!WorkOrderLineItem.LineItemNumber}
Account: {!AccountOnWorkOrder.Name}

{!SelectedProductError}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Product_with_PO</name>
            <choiceReferences>AvailableProductsSet</choiceReferences>
            <choiceReferences>DefaultProductChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>DefaultProductChoice</defaultSelectedChoiceReference>
            <fieldText>Select Service</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Barcode_with_PO</name>
            <dataType>String</dataType>
            <fieldText>Barcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PO_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PONumberBeingReplaced</elementReference>
            </defaultValue>
            <fieldText>PO Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Product_to_Replace_with_PO_Number_from_Order</name>
        <label>Select Product to Replace with PO Number from Order (Multi-Res)</label>
        <locationX>1297</locationX>
        <locationY>1946</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IsBarcodeProvidedFromMultiRes</targetReference>
        </connector>
        <fields>
            <name>Display_Header_on_PO_Number_from_Order</name>
            <fieldText>&lt;p&gt;Work Order Line Item: {!WorkOrderLineItem.LineItemNumber}&lt;/p&gt;&lt;p&gt;Work Order: {!WorkOrder.WorkOrderNumber}&lt;/p&gt;&lt;p&gt;Account: {!AccountOnWorkOrder.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!SelectedProductError}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Product_with_PO_from_Order</name>
            <choiceReferences>AvailableProductsSet</choiceReferences>
            <choiceReferences>DefaultProductChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>DefaultProductChoice</defaultSelectedChoiceReference>
            <fieldText>Select Service</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Barcode_with_PO_from_Order</name>
            <dataType>String</dataType>
            <fieldText>Barcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PO_Number_from_Order</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>POFromOrderHeader</elementReference>
            </defaultValue>
            <fieldText>PO Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Product_to_Replace_with_PO_Number_on_Header_Commercial</name>
        <label>Select Product to Replace with PO Number on Header (Commercial)</label>
        <locationX>500</locationX>
        <locationY>1933</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IsBarcodeProvidedFromCommercial</targetReference>
        </connector>
        <fields>
            <name>Description3</name>
            <fieldText>&lt;p&gt;Work Order: {!WorkOrder.WorkOrderNumber}&lt;/p&gt;&lt;p&gt;Work Order Line Item: {!WorkOrderLineItem.LineItemNumber}&lt;/p&gt;&lt;p&gt;Account: {!AccountOnWorkOrder.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!SelectedProductError}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Gap3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Product_PO_Order_Header_Commercial</name>
            <choiceReferences>DefaultProductChoice</choiceReferences>
            <choiceReferences>AvailableProductsSet</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>DefaultProductChoice</defaultSelectedChoiceReference>
            <fieldText>Select Service</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Barcode_PO_Order_Header_Commercial</name>
            <dataType>String</dataType>
            <fieldText>Barcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Service_Price_per_Unit_PO_Order_Header</name>
            <dataType>Currency</dataType>
            <fieldText>Service Price per Unit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>PO_Number_Order_Header_Commercial</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PONumberBeingReplaced</elementReference>
            </defaultValue>
            <fieldText>PO Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Product_to_Replace_with_PO_Number_on_Line_Item_Commercial</name>
        <label>Select Product to Replace with PO Number on Line Item (Commercial)</label>
        <locationX>613</locationX>
        <locationY>1936</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IsBarcodeProvidedFromCommercial</targetReference>
        </connector>
        <fields>
            <name>Description2</name>
            <fieldText>&lt;p&gt;Work Order: {!WorkOrder.WorkOrderNumber}&lt;/p&gt;&lt;p&gt;Work Order Line Item: {!WorkOrderLineItem.LineItemNumber}&lt;/p&gt;&lt;p&gt;Account: {!AccountOnWorkOrder.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!SelectedProductError}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Gap2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Product_PO_Line_Item_Commercial</name>
            <choiceReferences>DefaultProductChoice</choiceReferences>
            <choiceReferences>AvailableProductsSet</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>DefaultProductChoice</defaultSelectedChoiceReference>
            <fieldText>Select Service</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Barcode_PO_Order_Line_Item_Commercial</name>
            <dataType>String</dataType>
            <fieldText>Barcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Service_Price_Per_Unit_PO_Line_Item</name>
            <dataType>Currency</dataType>
            <fieldText>Service Price Per Unit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>PO_Number_Line_Item_Commercial</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PONumberBeingReplaced</elementReference>
            </defaultValue>
            <fieldText>PO Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Wizard_Completed</name>
        <label>Wizard Completed</label>
        <locationX>886</locationX>
        <locationY>5694</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>WizardCompletedText</name>
            <fieldText>This Work Order Line Item&apos;s Order Product has successfully been replaced with {!SelectedPricebookEntry.Name}. You may now close the wizard.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WorkOrderNotPestAndEmergency</name>
        <label>WorkOrderNotPestAndEmergency</label>
        <locationX>951</locationX>
        <locationY>911</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>WorkOrderNotPestAndEmergencyText</name>
            <fieldText>Work Order: {!WorkOrder.WorkOrderNumber}
Work Order Line Item: {!WorkOrderLineItem.LineItemNumber}
Account: {!AccountOnWorkOrder.Name}

This Flow can only be used on Work Order Line Items where the Work Order is &quot;Pest Control&quot; and is an emergency. 

Further, this Flow can only be used by pest technicians.

Please click &quot;Finish&quot; to close the Flow.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>GetWorkOrderLineItem</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountOnWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>BarcodeScanned</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BypassStandingOrderPriceEngine</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>frequency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewOrderProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewSurveyAssetLocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Survey_Asset_Location__c</objectType>
    </variables>
    <variables>
        <name>NewSurveyAssetLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>OrderProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>OrderProductAssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>OrderProduct.Asset__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>POFromOrderHeader</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PONumberBeingReplaced</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PONumberToStamp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PORequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ScannedProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>SelectedPricebookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>SelectedPricebookEntryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedProductError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedProductIdFromWorkOrderLineItem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>WorkOrderLineItem.Product2Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>SelectedProductNameFromWorkOrderLineItem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>WorkOrderLineItem.Product_Name__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>ServicePricePerUnit</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>WorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WorkOrderLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
</Flow>
