force-app/main/default/flows/Contact_Add_to_call_block.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Add_to_Call_Block__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Call Block Is True</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([Contact].CreatedDate &lt; [Contact].LastModifiedDate , CASE( MOD( DATEVALUE([Contact].LastModifiedDate ) - DATE(1900, 1, 7), 7), 
0, TODAY() + 2, 
1, TODAY() + 1, 
2, TODAY(), 
3, TODAY() + 6, 
4, TODAY() + 5, 
5, TODAY() + 4, 
6, TODAY() + 3, 
TODAY() + 8), 
CASE( MOD( DATEVALUE([Contact].CreatedDate ) - DATE(1900, 1, 7), 7), 
0, TODAY() + 2, 
1, TODAY() + 1, 
2, TODAY(), 
3, TODAY() + 6, 
4, TODAY() + 5, 
5, TODAY() + 4, 
6, TODAY() + 3, TODAY() + 8))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_2384241007</name>
        <dataType>Date</dataType>
        <expression>IF({!myVariable_current.CreatedDate} &lt; {!myVariable_current.LastModifiedDate} , CASE( MOD( DATEVALUE({!myVariable_current.LastModifiedDate} ) - DATE(1900, 1, 7), 7), 
0, TODAY() + 2, 
1, TODAY() + 1, 
2, TODAY(), 
3, TODAY() + 6, 
4, TODAY() + 5, 
5, TODAY() + 4, 
6, TODAY() + 3, 
TODAY() + 8), 
CASE( MOD( DATEVALUE({!myVariable_current.CreatedDate} ) - DATE(1900, 1, 7), 7), 
0, TODAY() + 2, 
1, TODAY() + 1, 
2, TODAY(), 
3, TODAY() + 6, 
4, TODAY() + 5, 
5, TODAY() + 4, 
6, TODAY() + 3, TODAY() + 8))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$User.Id </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_6460430466</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Contact_Add_to_call_block-5_InterviewLabel</interviewLabel>
    <label>Contact Add to call block</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Contact</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordCreates>
        <name>myRule_1_A1</name>
        <label>Create Task</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Due Date Only</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActivityDate</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_2384241007</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_6460430466</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Priority</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <stringValue>Call Block - Make Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Task Subtype</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Type</field>
            <value>
                <stringValue>Call Block</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>APXTConga4__Composer_QuickMerge__c;APXTConga4__Conga_Email_Staging__c;APXTConga4__Conga_Email_Template__c;Account;Asset;AssetRelationship;AssetWarranty;Assign_Resource_History__c;AssignedResource;Assignment__c;BMCServiceDesk__BMC_BusinessService__c;BMCServiceDesk__CMDB_log__c;BMCServiceDesk__Change_Request_Service_Target__c;BMCServiceDesk__DiscoveryAuditLog__c;BMCServiceDesk__DiscoveryImportLog__c;BMCServiceDesk__Incident_Service_Target__c;BMCServiceDesk__Incident__c;BMCServiceDesk__QueueTimeTracking__c;BMCServiceDesk__SRM_Entitlement_Console__c;BMCServiceDesk__SRM_RequestDetailInputs__c;BMCServiceDesk__SRM_RequestDetail__c;BMCServiceDesk__ScanConfigurationProtocol__c;BMCServiceDesk__ScanConfiguration__c;BMCServiceDesk__ScanDetailTargetListLink__c;BMCServiceDesk__ScanDetail__c;BMCServiceDesk__ScanSchedule__c;BMCServiceDesk__ScanTargetListMember__c;BMCServiceDesk__ScanTargetList__c;BMCServiceDesk__Scanner__c;CPQ2_ContractPrice__c;CPQ2_Core_List_Price_Request__c;CPQ2_Related_Product__c;CPQ2_VMI_Request__c;CPQ_Equipment_Override__c;CPQ_MRR_Drop_Override__c;CPQ_Multiplier_Table__c;CPQ_Service_Branches__c;Campaign;Case;CitronHygiene_Goal__c;CommSubscriptionConsent;ContactRequest;Contract;DelegatedAccount;Expense;ExpenseReport;ExpenseReportEntry;FSA_Service_Territory_Mapping__c;Image;Initiative__c;Issue__c;ListEmail;Location;MaintenanceAsset;MaintenancePlan;Opportunity;Order;PartyConsent;ProcessException;Product2;ProductConsumed;ProductItem;ProductRequest;ProductRequestLineItem;ProductServiceCampaign;ProductServiceCampaignItem;ProductTransfer;Quote;Resolution__c;ResourceAbsence;ReturnOrder;ReturnOrderLineItem;ServiceAppointment;ServiceCrew;ServiceCrewMember;ServiceResource;Shift;ShiftPattern;ShiftPatternEntry;Shipment;ShipmentItem;Site_Survey__c;Solution;Standing_Order__c;Statement_Detail__c;Survey_Location__c;Survey__c;TimeSheet;TimeSheetEntry;VMI_Product__c;Vehicle_Inspection__c;WarrantyTerm;Warranty__c;WorkOrder;WorkOrderLineItem;WorkPlan;WorkPlanSelectionRule;WorkPlanTemplate;WorkPlanTemplateEntry;WorkStep;WorkStepTemplate;Work_Order_Generation_Status_Staging__c;Work_Order_Generation_Status__c;dsfs__DocuSign_Recipient_Status__c;dsfs__DocuSign_Status__c;malive__IoTDeviceDailySummary__c;malive__IoTDevice__c;malive__MALiveAction__c;malive__MALiveAsset__c;malive__MALiveAsyncError__c;malive__MALiveDailyTrip__c;malive__MALiveDriverAssignment__c;malive__MALiveDriver__c;malive__MALiveEventAssociation__c;malive__MALiveSummaryStateMileage__c;malive__MALiveSummaryStopRelationshipConfig__c;malive__MALive_SummaryEvent__c;maps__AdvRouteContinuousTravel__c;maps__AdvRouteDataSet__c;maps__AdvRouteDefaultValue__c;maps__AdvRouteDefaultValuesGrouping__c;maps__AdvRouteOffDays__c;maps__AdvRouteOutputType__c;maps__AdvRoutePriority__c;maps__AdvRoutePromotionalPeriodConfiguration__c;maps__AdvRouteQueryFilterGrouping__c;maps__AdvRouteQueryFilter__c;maps__AdvRouteRoutableObject__c;maps__AdvRouteSettings__c;maps__AdvRouteTemplateUser__c;maps__AdvRouteTemplate__c;maps__AdvRouteVisitWindows__c;maps__AdvRouteWaypoint__c;maps__AdvRoute__c;maps__LiveAssetDailySummaryEvent__c;maps__LiveAssetDailySummary__c;maps__LiveAsset__c;maps__LiveAsyncError__c;maps__LiveDailyDriveTrip__c;maps__LiveDriverAssignment__c;maps__LiveDriver__c;maps__LiveEventAssociation__c;maps__LiveEvent__c;maps__LiveIoTDevice__c;maps__LiveSummaryStateMileage__c;maps__LiveSummaryStopRelationshipConfig__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <value>
                <elementReference>myVariable_current.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Name ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Contact;Lead</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhoId</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Contact]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>make call block to false</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Add to Call Block</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Add_to_Call_Block__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Draft</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
