force-app/main/default/flows/Emergency_Service_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>NavigateToNewRecord</name>
        <label>NavigateToNewRecord</label>
        <locationX>893</locationX>
        <locationY>54</locationY>
        <actionName>c:NavigateToNewRecord</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>CaseId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>List_of_Selected_Survey_Locations</name>
        <label>List of Selected Survey Locations</label>
        <locationX>457</locationX>
        <locationY>48</locationY>
        <assignmentItems>
            <assignToReference>ServiceRequestSurveyLocationCollectionTextVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SelectSurveyLocationCheckboxGroup</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Request_Confirmation</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>Community_Service_Type_Picklist_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Community_Service_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Community_Services_Picklist_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Community_Services__c</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ContactChoiceSet</name>
        <dataType>String</dataType>
        <displayField>LastName</displayField>
        <limit>100</limit>
        <object>Contact</object>
        <sortField>LastName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SurveyLocationRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <limit>100</limit>
        <object>Survey_Location__c</object>
        <outputAssignments>
            <assignToReference>ServiceRequestSurveyLocationTextVariable</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>ContactId</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <formulas>
        <name>ServiceRequestDescriptionFinal</name>
        <dataType>String</dataType>
        <expression>&quot;Survey Locations: &quot;&amp;{!SelectSurveyLocationCheckboxGroup}&amp;br()&amp;br()&amp;&quot;Service Type: &quot;&amp;{!Community_Service_Type_Dependent_Picklist.topValue}&amp;&quot; &quot;&amp;{!Community_Service_Type_Dependent_Picklist.middleValue}&amp;br()&amp;br()&amp;&quot;Service Request Details: &quot;&amp;{!Service_Request_Text}</expression>
    </formulas>
    <formulas>
        <name>SubjectFinal</name>
        <dataType>String</dataType>
        <expression>&quot;Emergency Service Request&quot;</expression>
    </formulas>
    <interviewLabel>Emergency Service Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Emergency Service Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>ServiceRequestCaseCreation</name>
        <label>Service Request Case</label>
        <locationX>722</locationX>
        <locationY>49</locationY>
        <assignRecordIdToReference>CaseId</assignRecordIdToReference>
        <connector>
            <targetReference>NavigateToNewRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>ServiceRequestDescriptionFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Community</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123Z000000qhixQAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Service</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>199</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Shipping_Address__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Service_Request</name>
        <label>Service Request</label>
        <locationX>328</locationX>
        <locationY>49</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>List_of_Selected_Survey_Locations</targetReference>
        </connector>
        <fields>
            <name>Service_Request_Instructions</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please select applicable room(s), specify the details of your service request and then click &apos;Next&apos; to proceed.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectSurveyLocationCheckboxGroup</name>
            <choiceReferences>SurveyLocationRecordChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Room(s):</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Please select applicable room(s) at {!AccountRecord.Shipping_Address__c} requiring a service request.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Community_Service_Type_Dependent_Picklist</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <elementReference>Case</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <elementReference>Community_Services_API</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <elementReference>Community_Service_Type_API</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <elementReference>Service_Label</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <elementReference>Service_Type_Label</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Service_Request_Text</name>
            <fieldText>Service Request Details:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Please specify the details your service request.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Service_Request_Confirmation</name>
        <label>Service Request Confirmation</label>
        <locationX>581</locationX>
        <locationY>49</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ServiceRequestCaseCreation</targetReference>
        </connector>
        <fields>
            <name>Confirmation_Header</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Please confirm that the following information is correct.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;If any information is incorrect, click the &apos;&lt;/span&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Previous&lt;/b&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;&apos; button to go back and make changes, otherwise, click &apos;&lt;/span&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Next&lt;/b&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;&apos; to complete your request.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ServiceRequestConfirmation</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Account Name: &lt;/b&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;{!AccountRecord.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Location:  {!AccountRecord.Shipping_Address__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Rooms: &lt;/b&gt;&lt;b style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(119, 188, 31);&quot;&gt;{!SelectSurveyLocationCheckboxGroup}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ServiceRequestDescriptionConfirmation</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Service Type:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; color: rgb(119, 188, 31);&quot;&gt;{!Community_Service_Type_Dependent_Picklist.topValue} {!Community_Service_Type_Dependent_Picklist.middleValue}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Service Request Details:&lt;/b&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(119, 188, 31); font-size: 12px;&quot;&gt;{!Service_Request_Text}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Service_Request_Details</name>
        <isActive>false</isActive>
        <label>Service Request Details</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>ServiceRequestConfirmationStage</name>
        <isActive>false</isActive>
        <label>Service Request Confirmation</label>
        <stageOrder>2</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Case</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Community_Service_Type__c</description>
        <name>Community_Service_Type_API</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Community_Service_Type__c</stringValue>
        </value>
    </variables>
    <variables>
        <name>Community_Services_API</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Community_Services__c</stringValue>
        </value>
    </variables>
    <variables>
        <name>Repair</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Service_Label</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Service:</stringValue>
        </value>
    </variables>
    <variables>
        <name>Service_Type_Label</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Service Type:</stringValue>
        </value>
    </variables>
    <variables>
        <name>ServiceandServiceTypeSelection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{!Community_Service_Type_Dependent_Picklist.topValue} {!Community_Service_Type_Dependent_Picklist.middleValue}</stringValue>
        </value>
    </variables>
    <variables>
        <name>ServiceRequestSurveyLocationCollectionRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Survey_Location__c</objectType>
    </variables>
    <variables>
        <name>ServiceRequestSurveyLocationCollectionTextVariable</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceRequestSurveyLocationTextVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
