force-app/main/default/flows/Hornets_Lead_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Create_Event</name>
        <label>Create Event</label>
        <locationX>860</locationX>
        <locationY>926</locationY>
        <actionName>CreateEventController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>checkifResponse</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>evtCountry</name>
            <value>
                <elementReference>Current_Record_Field_Values.Country</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>evtPostal</name>
            <value>
                <elementReference>Current_Record_Field_Values.PostalCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>evtState</name>
            <value>
                <elementReference>Current_Record_Field_Values.State</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>evtStreet</name>
            <value>
                <elementReference>Current_Record_Field_Values.Street</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>followUpDate</name>
            <value>
                <elementReference>FollowUp_Metting</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>response</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>passbundlevalues</name>
        <label>passbundlevalues</label>
        <locationX>235</locationX>
        <locationY>1260</locationY>
        <actionName>ConvertLeadController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>convertlead</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>bundleHandSanitizer</name>
            <value>
                <elementReference>Hand_Sanitizer_Options</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>bundleSelector</name>
            <value>
                <elementReference>BundleSelector</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>bundleSoap</name>
            <value>
                <elementReference>Soap_Options</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>bundleUpdateResult</assignToReference>
            <name>DMLResult</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>assignValuesForEvent</name>
        <label>assignValuesForEvent</label>
        <locationX>860</locationX>
        <locationY>686</locationY>
        <assignmentItems>
            <assignToReference>asiignValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>asiignValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LeadEmail.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>asiignValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Current_Record_Field_Values.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>asiignValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Current_Record_Field_Values.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>asiignValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Current_Record_Field_Values.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>asiignValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Current_Record_Field_Values.State</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>checkAddtoCallBlock</name>
        <label>checkAddtoCallBlock</label>
        <locationX>1256</locationX>
        <locationY>817</locationY>
        <assignmentItems>
            <assignToReference>Current_Record_Field_Values.Add_to_Call_Block__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Current_Record_Field_Values.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadFirstName.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Current_Record_Field_Values.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadFirstName.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Current_Record_Field_Values.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadEmail.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Current_Record_Field_Values.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadPhone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Current_Record_Field_Values.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Record_Field_Values.Company</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Current_Record_Field_Values.Industry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>industry_1.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Current_Record_Field_Values.Industry_Code_Accpac__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>industry_1.middleValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateAddtoCallBlock</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Record_Id</name>
        <label>Current Record Id</label>
        <locationX>1058</locationX>
        <locationY>206</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Current_Record_Field_Values</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>BlackBundle</name>
        <choiceText>Black</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BLK</stringValue>
        </value>
    </choices>
    <choices>
        <name>BundleType_Chrome</name>
        <choiceText>Chrome</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CHR</stringValue>
        </value>
    </choices>
    <choices>
        <description>The white bundle</description>
        <name>BundleWhite</name>
        <choiceText>White</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WHT</stringValue>
        </value>
    </choices>
    <choices>
        <name>CreateOpportunitywithFollowUp</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;Follow Up Meeting + Convert&lt;/span&gt;&lt;p&gt;&lt;i style=&quot;font-size: 11px;&quot;&gt;interested / come back later&lt;/i&gt;&lt;/p&gt;&lt;p&gt;  &lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <name>Disqualify</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;Disqualify&lt;/span&gt;&lt;p&gt;&lt;i style=&quot;font-size: 11px;&quot;&gt;no chance&lt;/i&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <name>HandSanitizerAutoOnStand</name>
        <choiceText>Auto (On Stand)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HAS</stringValue>
        </value>
    </choices>
    <choices>
        <name>HandSanitizerAutoOnWall</name>
        <choiceText>Auto (On Wall)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HAW</stringValue>
        </value>
    </choices>
    <choices>
        <name>HandSanitizerManualOnWall</name>
        <choiceText>Manual (On Wall)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HMW</stringValue>
        </value>
    </choices>
    <choices>
        <name>Interested_add_to_callblock</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;Add To Call-Block&lt;/span&gt;&lt;p&gt;&lt;i style=&quot;font-size: 11px;&quot;&gt;interested but can&apos;t talk now&lt;/i&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <name>Quantity1</name>
        <choiceText>{!Quantity_Of_1}</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Quantity2</name>
        <choiceText>{!Quantity_of_2}</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>SignNow</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;Generate Agreement&lt;/span&gt;&lt;p&gt;&lt;i style=&quot;font-size: 11px;&quot;&gt;wants to buy now&lt;/i&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>SoapAutoOnWall</name>
        <choiceText>Auto (On Wall)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SAW</stringValue>
        </value>
    </choices>
    <choices>
        <name>SoapManualOnWall</name>
        <choiceText>Manual (On Wall)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SMW</stringValue>
        </value>
    </choices>
    <constants>
        <name>EventSubjectDefaultText</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Follow Up - New Opp</stringValue>
        </value>
    </constants>
    <constants>
        <name>IndustryPicklistLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Industry</stringValue>
        </value>
    </constants>
    <constants>
        <name>IndustyCodeAccpacLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Industry Code For Accpac</stringValue>
        </value>
    </constants>
    <constants>
        <name>LeadObjectAPIName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Lead</stringValue>
        </value>
    </constants>
    <constants>
        <name>Quantity_Of_1</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Quantity_of_2</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Quantity_Of_3</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>checkbundleselection</name>
        <label>checkbundleselection</label>
        <locationX>131</locationX>
        <locationY>956</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>color</name>
            <conditionLogic>(1 OR 2 OR 3) AND (4 OR 5) AND (6 OR 7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>BundleSelector</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BundleWhite</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BundleSelector</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BlackBundle</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BundleSelector</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BundleType_Chrome</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Soap_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SoapAutoOnWall</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Soap_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SoapManualOnWall</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hand_Sanitizer_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>HandSanitizerAutoOnStand</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hand_Sanitizer_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>HandSanitizerAutoOnWall</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hand_Sanitizer_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>HandSanitizerManualOnWall</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>passbundlevalues</targetReference>
            </connector>
            <label>color</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkifResponse</name>
        <label>checkifResponse</label>
        <locationX>859</locationX>
        <locationY>1058</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ifresponse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>response</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConfirmLeadConvert</targetReference>
            </connector>
            <label>ifresponse</label>
        </rules>
    </decisions>
    <decisions>
        <name>Disposition_Choosen</name>
        <label>Disposition Choosen</label>
        <locationX>1058</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Generate_Agreement_Chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SignNow</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Details_0</targetReference>
            </connector>
            <label>Generate Agreement</label>
        </rules>
        <rules>
            <name>Follow_Up_Convert_Chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateOpportunitywithFollowUp</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignValuesForEvent</targetReference>
            </connector>
            <label>Follow Up + Convert</label>
        </rules>
        <rules>
            <name>Add_To_Call_Block_Chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Interested_add_to_callblock</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Block_Manager_Placeholder</targetReference>
            </connector>
            <label>Add To Call Block</label>
        </rules>
        <rules>
            <name>Disqualify_Chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Disqualify</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lead_Status_Disqualified</targetReference>
            </connector>
            <label>Disqualify</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Industry</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Industry</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IndustryCodeForAccpac</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Industry_Code_Accpac__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LeadDisqualifiedReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Disqualified_Reason__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>DefaultCallBlockDateTime</name>
        <dataType>DateTime</dataType>
        <expression>({!$Flow.CurrentDateTime} + 7)</expression>
    </formulas>
    <formulas>
        <name>DefaultEventDateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + 1</expression>
    </formulas>
    <interviewLabel>Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Hornets Lead Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Current_Record_Field_Values</name>
        <label>Current Record Field Values</label>
        <locationX>1058</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_Disposition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Lead_Status_Disqualified</name>
        <label>Set Lead Status Disqualified</label>
        <locationX>1503</locationX>
        <locationY>638</locationY>
        <faultConnector>
            <targetReference>faultscreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Disqualified_Reason__c</field>
            <value>
                <elementReference>LeadDisqualifiedReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <elementReference>industry_1.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry_Code_Accpac__c</field>
            <value>
                <elementReference>industry_1.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Disqualified</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Details</name>
        <label>Update Lead Details</label>
        <locationX>858</locationX>
        <locationY>811</locationY>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <faultConnector>
            <targetReference>faultscreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Current_Record_Field_Values.Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>LeadEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>LeadFirstName.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LeadFirstName.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>LeadPhone.value</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Details_0</name>
        <label>Update Lead Details</label>
        <locationX>326</locationX>
        <locationY>665</locationY>
        <connector>
            <targetReference>Pick_A_Bundle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Current_Record_Field_Values.Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>LeadEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>LeadFirstName.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LeadFirstName.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>LeadPhone.value</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateAddtoCallBlock</name>
        <label>updateAddtoCallBlock</label>
        <locationX>1252</locationX>
        <locationY>959</locationY>
        <faultConnector>
            <targetReference>faultscreen</targetReference>
        </faultConnector>
        <inputReference>Current_Record_Field_Values</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Call_Block_Manager_Placeholder</name>
        <label>Add to Call Block</label>
        <locationX>1256</locationX>
        <locationY>686</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>checkAddtoCallBlock</targetReference>
        </connector>
        <fields>
            <name>CallBlockMgrPlaceholder</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Add Call Block Task?&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Tap Next Button to Proceed.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Choose_Disposition</name>
        <label>Choose Disposition</label>
        <locationX>1058</locationX>
        <locationY>446</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Disposition_Choosen</targetReference>
        </connector>
        <fields>
            <name>Choose_Disposition_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Choose_Disposition_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SelectNextStepDisplayText</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Select Next Step&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Next_Step</name>
                    <choiceReferences>SignNow</choiceReferences>
                    <choiceReferences>CreateOpportunitywithFollowUp</choiceReferences>
                    <choiceReferences>Interested_add_to_callblock</choiceReferences>
                    <choiceReferences>Disqualify</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CompleteBelowDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Complete Below &amp;amp; Tap Next&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>SignNow</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>CreateOpportunitywithFollowUp</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Interested_add_to_callblock</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>disqualifytext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Confirm Industry&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Then press Next to Disqualify&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Disqualify</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Choose_Disqualified_Reason</name>
            <choiceReferences>LeadDisqualifiedReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Disqualified Reason</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Disqualify</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Choose_Disposition_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Choose_Disposition_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FollowUp_Metting</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Follow Up Meeting</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(208, 64, 24);&quot;&gt;Event Date cannot be less than today&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!FollowUp_Metting} &gt;= NOW()</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CreateOpportunitywithFollowUp</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Choose_Disposition_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Choose_Disposition_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LeadFirstName</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>firstName</name>
                        <value>
                            <elementReference>Current_Record_Field_Values.FirstName</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>lastName</name>
                        <value>
                            <elementReference>Current_Record_Field_Values.LastName</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Lead&apos;s Contact Info</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>LeadEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Current_Record_Field_Values.Email</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>LeadPhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Current_Record_Field_Values.Phone</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Current_Record_Field_Values.Company</objectFieldReference>
                </fields>
                <fields>
                    <name>LeadAddress</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>Current_Record_Field_Values.City</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputCountryOptions</name>
                        <value>
                            <elementReference>Current_Record_Field_Values.Country</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>Current_Record_Field_Values.PostalCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputProvinceOptions</name>
                        <value>
                            <elementReference>Current_Record_Field_Values.State</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>Current_Record_Field_Values.Street</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>Current_Record_Field_Values.Country</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>province</name>
                        <value>
                            <elementReference>Current_Record_Field_Values.State</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Lead&apos;s Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>1 OR 2 OR 3</conditionLogic>
                <conditions>
                    <leftValueReference>SignNow</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Interested_add_to_callblock</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>CreateOpportunitywithFollowUp</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>industry_1</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Industry</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Industry_Code_Accpac__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Industry Code</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>Current_Record_Field_Values.Industry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>Current_Record_Field_Values.Industry_Code_Accpac__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>SignNow</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>CreateOpportunitywithFollowUp</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Interested_add_to_callblock</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Disqualify</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ConfirmLeadConvert</name>
        <label>Convert Lead Confirmation</label>
        <locationX>729</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>convertlead</targetReference>
        </connector>
        <fields>
            <name>AreYouSureLeadConvertText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(11, 87, 240); background-color: rgb(255, 255, 255); font-size: 22px;&quot;&gt;CONVERT LEAD &amp;amp; CREATE OPPORTUNITY?&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(11, 87, 240); background-color: rgb(255, 255, 255); font-size: 22px;&quot;&gt;PRESS NEXT TO CONTINUE.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <helpText>&lt;p&gt;test help text&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>convertlead</name>
        <label>convertlead</label>
        <locationX>719</locationX>
        <locationY>1327</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>leadconvert</name>
            <extensionName>c:leadConvertlwc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isflow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>leadfName</name>
                <value>
                    <elementReference>Current_Record_Field_Values.FirstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>leadlName</name>
                <value>
                    <elementReference>Current_Record_Field_Values.LastName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>companyName</name>
                <value>
                    <elementReference>Current_Record_Field_Values.Company</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>opportunityId</assignToReference>
                <name>flowOppId</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>faultscreen</name>
        <label>faultscreen</label>
        <locationX>1362</locationX>
        <locationY>1176</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>faultvar</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pick_A_Bundle</name>
        <label>Pick A Bundle</label>
        <locationX>332</locationX>
        <locationY>806</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>checkbundleselection</targetReference>
        </connector>
        <fields>
            <name>Pick_A_Bundle_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Pick_A_Bundle_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProductColourSetupTitle</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px; color: rgb(11, 87, 240);&quot;&gt;1. SELECT PRODUCT COLOUR &amp;amp; TYPE&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>BundleSelector</name>
                    <choiceReferences>BundleType_Chrome</choiceReferences>
                    <choiceReferences>BundleWhite</choiceReferences>
                    <choiceReferences>BlackBundle</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>BundleType_Chrome</defaultSelectedChoiceReference>
                    <fieldText>Colour</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Soap_Options</name>
                    <choiceReferences>SoapManualOnWall</choiceReferences>
                    <choiceReferences>SoapAutoOnWall</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>SoapManualOnWall</defaultSelectedChoiceReference>
                    <fieldText>Soap Options</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Hand_Sanitizer_Options</name>
                    <choiceReferences>HandSanitizerAutoOnStand</choiceReferences>
                    <choiceReferences>HandSanitizerAutoOnWall</choiceReferences>
                    <choiceReferences>HandSanitizerManualOnWall</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>HandSanitizerAutoOnStand</defaultSelectedChoiceReference>
                    <fieldText>Hand Sanitizer Options</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>LeadConvertHeadsUp</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(11, 87, 240); font-size: 20px;&quot;&gt;2. PRESS NEXT BUTTON TO CREATE OPPORTUNTY&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>932</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Current_Record_Id</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>asiignValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>bundleCHR_SAW_HMW_10</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Represents the black bundle</description>
        <name>BundleTypePicked_Black</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>represents the Chrome bundle type</description>
        <name>BundleTypePicked_Chrome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Represents the white bundle type</description>
        <name>BundleTypePicked_White</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>bundleUpdateResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>bundleValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>followupdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>!recordId</stringValue>
        </value>
    </variables>
    <variables>
        <name>response</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLead</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
