force-app/main/default/flows/Inquiry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>NavigateToNewRecord</name>
        <label>NavigateToNewRecord</label>
        <locationX>804</locationX>
        <locationY>50</locationY>
        <actionName>c:NavigateToNewRecord</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>CaseId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <description>Flow to create inquiry Tickets via community.</description>
    <dynamicChoiceSets>
        <name>CommunityInquiry</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Community_Inquiry__c</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <formulas>
        <name>Case_Description</name>
        <dataType>String</dataType>
        <expression>&quot;Inquiry: &quot;&amp;{!Inquiry_Type}&amp;br()&amp;&quot;Inquiry Details: &quot;&amp;{!Inquiry_Details}</expression>
    </formulas>
    <formulas>
        <name>SubjectFinal</name>
        <dataType>String</dataType>
        <expression>&quot;Inquiry&quot;</expression>
    </formulas>
    <interviewLabel>Inquiry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inquiry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Sales_Inquiry_Case_Creation</name>
        <label>SalesInquiryCaseCreation</label>
        <locationX>610</locationX>
        <locationY>50</locationY>
        <assignRecordIdToReference>CaseId</assignRecordIdToReference>
        <connector>
            <targetReference>NavigateToNewRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Community_Inquiry__c</field>
            <value>
                <elementReference>CommunityInquiry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Case_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Community</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123Z000000qhixQAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>General Inquiry</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Account</name>
        <label>Account</label>
        <locationX>339</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SalesInquiryConfirmation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Shipping_Address__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Sales_Inquiry</name>
        <label>Sales Inquiry</label>
        <locationX>210</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Account</targetReference>
        </connector>
        <fields>
            <name>Sales_Inquiry_Instructions</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Please specify the details of your  inquiry and then click &apos;Next&apos; to proceed.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Inquiry_Type</name>
            <choiceReferences>CommunityInquiry</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Inquiry Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please select an inquiry category.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Inquiry_Details</name>
            <fieldText>Inquiry Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Please specify the details your inquiry.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SalesInquiryConfirmation</name>
        <label>SalesInquiryConfirmation</label>
        <locationX>464</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Sales_Inquiry_Case_Creation</targetReference>
        </connector>
        <fields>
            <name>ConfirmationHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Please confirm that the following information is correct.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;If any information is incorrect, click the &apos;&lt;/span&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Previous&lt;/b&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;&apos; button to go back and make changes, otherwise, click &apos;&lt;/span&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Next&lt;/b&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;&apos; to complete your request.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SalesInquiryDescriptionConfirmation</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 12px;&quot;&gt;Account Name: &lt;/b&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!AccountRecord.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Location &lt;/b&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!AccountRecord.Shipping_Address__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Inquiry Category:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(119, 188, 31); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;{!Inquiry_Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Inquiry Description:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; color: rgb(119, 188, 31);&quot;&gt;{!Inquiry_Details}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Sales_Inquiry</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
