force-app/main/default/flows/OpportunityBillToShipToUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>assignvaluesIfParentFalse</name>
        <label>assignvaluesIfParentFalse</label>
        <locationX>433</locationX>
        <locationY>253</locationY>
        <assignmentItems>
            <assignToReference>$Record.BillingName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccount.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccount.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateOpportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignValuesIfParentTrue</name>
        <label>assignValuesIfParentTrue</label>
        <locationX>426</locationX>
        <locationY>433</locationY>
        <assignmentItems>
            <assignToReference>$Record.ShippingName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccount.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccount.Parent.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateOpportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>chkAccountHasParentOrNot</name>
        <label>chkAccountHasParentOrNot</label>
        <locationX>179</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfParentTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccount.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignValuesIfParentTrue</targetReference>
            </connector>
            <label>IfParentTrue</label>
        </rules>
        <rules>
            <name>IfParentFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccount.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignvaluesIfParentFalse</targetReference>
            </connector>
            <label>IfParentFalse</label>
        </rules>
    </decisions>
    <interviewLabel>OpportunityBillToShipToUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OpportunityBillToShipToUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>42</locationX>
        <locationY>308</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>chkAccountHasParentOrNot</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateOpportunity</name>
        <label>updateOpportunity</label>
        <locationX>692</locationX>
        <locationY>343</locationY>
        <inputAssignments>
            <field>BillingName__c</field>
            <value>
                <elementReference>$Record.BillingName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingName__c</field>
            <value>
                <elementReference>$Record.ShippingName__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BillingName__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ShippingName__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
