force-app/main/default/flows/Testing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Unique_Product_Ids_to_list_var</name>
        <label>Add Unique Product Ids to list var.</label>
        <locationX>2039</locationX>
        <locationY>1124</locationY>
        <assignmentItems>
            <assignToReference>ListofuniqueProductIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UniqueProductDetails.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_Unique_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Name</name>
        <label>Assign Account Name</label>
        <locationX>547</locationX>
        <locationY>595</locationY>
        <assignmentItems>
            <assignToReference>varDisplayAccount</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Account Name:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayAccount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WO_Account_Name.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_VMI_Product_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Card_Key_Required_to_NO</name>
        <label>Assign Card Key Required to NO</label>
        <locationX>649</locationX>
        <locationY>1532</locationY>
        <assignmentItems>
            <assignToReference>var_Card_Key_Required</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Escort_Required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Card_Key_Required_to_Yes</name>
        <label>Assign Card Key Required to YES</label>
        <locationX>188</locationX>
        <locationY>1544</locationY>
        <assignmentItems>
            <assignToReference>var_Card_Key_Required</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>YES</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Escort_Required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Details</name>
        <label>Assign Contact Details</label>
        <locationX>603</locationX>
        <locationY>1943</locationY>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Contact Name: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WO_Contact.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>                                                     </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Phone: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!WO_Contact.Phone}                         </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>                                                     </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Mobile Phone: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WO_Contact.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br/&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Site_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Title</name>
        <label>Assign Contact Title</label>
        <locationX>198</locationX>
        <locationY>2152</locationY>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>:::: SITE CONTACT ::::</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Site_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count</name>
        <label>Assign Count</label>
        <locationX>2505</locationX>
        <locationY>1843</locationY>
        <assignmentItems>
            <assignToReference>WOLICount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIProductName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopingthroughWOLIfinal.Product_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopForWOLIForEachProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Escort_Required_to_NO</name>
        <label>Assign Escort Required to NO</label>
        <locationX>639</locationX>
        <locationY>1448</locationY>
        <assignmentItems>
            <assignToReference>var_Escort_Required</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_Equipment_from_Vehicle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Escort_Required_to_YES</name>
        <label>Assign Escort Required to YES</label>
        <locationX>205</locationX>
        <locationY>1440</locationY>
        <assignmentItems>
            <assignToReference>var_Escort_Required</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>YES</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_Equipment_from_Vehicle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Female_Skill_Set_to_NO</name>
        <label>Assign Female Skill Set to NO</label>
        <locationX>641</locationX>
        <locationY>1138</locationY>
        <assignmentItems>
            <assignToReference>var_Female_Skill_Set_Required</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Signature_Required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Female_Skill_Set_to_YES</name>
        <label>Assign Female Skill Set to YES</label>
        <locationX>233</locationX>
        <locationY>1115</locationY>
        <assignmentItems>
            <assignToReference>var_Female_Skill_Set_Required</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>YES</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Signature_Required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Meet_Contact_to_NO</name>
        <label>Assign Meet Contact to NO</label>
        <locationX>641</locationX>
        <locationY>948</locationY>
        <assignmentItems>
            <assignToReference>var_Meet_With_Contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Site_Preferences</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Meet_Contact_to_YES</name>
        <label>Assign Meet Contact to YES</label>
        <locationX>245</locationX>
        <locationY>914</locationY>
        <assignmentItems>
            <assignToReference>var_Meet_With_Contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>YES</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Site_Preferences</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Reload_Van_to_No</name>
        <label>Assign Reload Van to No</label>
        <locationX>641</locationX>
        <locationY>1240</locationY>
        <assignmentItems>
            <assignToReference>var_Reload_Van</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Hygiene_Female_Skill_Set_Required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Reload_Van_to_Yes</name>
        <label>Assign Reload Van to Yes</label>
        <locationX>228</locationX>
        <locationY>1208</locationY>
        <assignmentItems>
            <assignToReference>var_Reload_Van</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>YES</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Hygiene_Female_Skill_Set_Required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Remove_Equipment_from_Vehicle_To_NO</name>
        <label>Assign Remove Equipment from Vehicle To NO</label>
        <locationX>632</locationX>
        <locationY>1360</locationY>
        <assignmentItems>
            <assignToReference>var_Remove_Equipment_from_Vehicle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Reload_Van</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Remove_Equipment_from_Vehicle_to_YES</name>
        <label>Assign Remove Equipment from Vehicle To YES</label>
        <locationX>222</locationX>
        <locationY>1319</locationY>
        <assignmentItems>
            <assignToReference>var_Remove_Equipment_from_Vehicle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>YES</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Reload_Van</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Signature_Required_to_NO</name>
        <label>Assign Signature Required to NO</label>
        <locationX>637</locationX>
        <locationY>1032</locationY>
        <assignmentItems>
            <assignToReference>var_Signature_Required</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Meet_With_Contact_Prior_to_Work</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Signature_Required_to_YES</name>
        <label>Assign Signature Required to YES</label>
        <locationX>245</locationX>
        <locationY>1012</locationY>
        <assignmentItems>
            <assignToReference>var_Signature_Required</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>YES</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Meet_With_Contact_Prior_to_Work</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Site_Preferences</name>
        <label>Assign Site Preferences</label>
        <locationX>1189</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>:::::SITE PREFERENCES:::::</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br/&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>1) Security Sign-in/out:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> {!var_Security_Sign_In_Sign_Out}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>                                                                                                            </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>2) Key/Card Required:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> {!var_Card_Key_Required}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>                                                                                                          </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>3) Escort Required:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> {!var_Escort_Required}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>                                                             </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>4) Remove Equipment from Vehicle:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> {!var_Remove_Equipment_from_Vehicle}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>                                                             </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>5) Reload Van:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> {!var_Reload_Van}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>                                                                   </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>6) Hygiene Female Skill Set Required:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> {!var_Female_Skill_Set_Required}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>                                                                                  </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>7) Meet with Contact Prior to Work:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> {!var_Meet_With_Contact}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Work_Order_Location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>To assign Site Survey details to varDisplayText</description>
        <name>Assign_Site_Survey_Details</name>
        <label>Assign Site Survey Details</label>
        <locationX>925</locationX>
        <locationY>1925</locationY>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>::::: SPECIAL INSTRUCTIONS :::::</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br/&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Special Internal Instructions:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WO_Site_Survey.Designated_Parking_Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br/&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_text_to_Security_Sign_In</name>
        <label>Assign text to Security Sign In</label>
        <locationX>180</locationX>
        <locationY>1648</locationY>
        <assignmentItems>
            <assignToReference>var_Security_Sign_In_Sign_Out</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>YES</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Key_Card_Required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_unique_Product_Ids</name>
        <label>Assign unique Product Ids</label>
        <locationX>2405</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>UniqueProductIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_unique_product_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_VMI_Information</name>
        <label>Assign VMI Information</label>
        <locationX>1089</locationX>
        <locationY>757</locationY>
        <assignmentItems>
            <assignToReference>varDisplayVMI</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>:::: VMI PRODUCTS ::::</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayVMI</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br/&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_VMI_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Work_Order_Location</name>
        <label>Assign Work Order Location</label>
        <locationX>2707</locationX>
        <locationY>2113</locationY>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>::::: WORK ORDER LOCATIONS :::::</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br/&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Work_Order_Location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Work_Order_Location_Details</name>
        <label>Assign Work Order Location Details</label>
        <locationX>3475</locationX>
        <locationY>988</locationY>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>*ROOM:  </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WorkOrderLocationLoop.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>(</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Remove_Blank</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>/</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Remove_Decimals</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>                                                                                                   </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>*NOTES:  </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WorkOrderLocationLoop.Location_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>                                          </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>*INSTALL NOTES:  </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WorkOrderLocationLoop.Installation_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>                                               </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>*SERVICE NOTES:  </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WorkOrderLocationLoop.Service_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>                                                                                              </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>*ASSETS TO BE SCANNED :  </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>                                                           </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WorkOrderLocationLoop.Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Work_Order_Location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_VMI_Product_Details</name>
        <label>Assigning VMI Product Details</label>
        <locationX>1146</locationX>
        <locationY>180</locationY>
        <assignmentItems>
            <assignToReference>varDisplayVMI</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Product: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayVMI</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VMIloop.Product_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayVMI</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>                                                                                                              </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayVMI</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Par Level:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayVMI</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> {!varRemoveDecimalParLevel}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayVMI</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br/&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_VMI_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Product_Ids</name>
        <label>Collect Product Ids</label>
        <locationX>2003</locationX>
        <locationY>860</locationY>
        <assignmentItems>
            <assignToReference>ProductRecVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WOLI_Product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_through_Work_Order_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Else_what</name>
        <label>Else what</label>
        <locationX>825</locationX>
        <locationY>1640</locationY>
        <assignmentItems>
            <assignToReference>var_Security_Sign_In_Sign_Out</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Key_Card_Required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Final_Assignment_WOLI_Product_Count</name>
        <label>Final Assignment WOLI Product Cou</label>
        <locationX>2034</locationX>
        <locationY>1556</locationY>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varDisplayVMI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>:::: WORK ORDER LINE SUMMARY ::::</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br/&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!WOLIProductName} </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>X </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WOLICount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br/&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_final_product_ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_blank_from_Number_of_Products_Serviced</name>
        <label>Remove blank from Number of Products Serviced</label>
        <locationX>2973</locationX>
        <locationY>1393</locationY>
        <assignmentItems>
            <assignToReference>var_Remove_Blank</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_Decimals_from_Number_of_Products_to_be_Serviced</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Remove Decimals from Number of Products to be Serviced</description>
        <name>Remove_Decimals_from_Number_of_Products_to_be_Serviced</name>
        <label>Remove Decimals from Number of Products to be Serviced</label>
        <locationX>3394</locationX>
        <locationY>1536</locationY>
        <assignmentItems>
            <assignToReference>var_Remove_Decimals</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderLocationLoop.Number_of_Products_to_be_Serviced__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Work_Order_Location_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RemoveDecimal2</name>
        <label>RemoveDecimal2</label>
        <locationX>1098</locationX>
        <locationY>348</locationY>
        <assignmentItems>
            <assignToReference>varRemoveDecimalParLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VMIloop.Par_Level__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigning_VMI_Product_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Return_No_of_Product_Service</name>
        <label>Return No of Product Service</label>
        <locationX>3274</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>var_Remove_Blank</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderLocationLoop.Number_of_Products_Serviced__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_Decimals_from_Number_of_Products_to_be_Serviced</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>AccountName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;b&gt;Account Name:&lt;/b&gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>Contactname</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;b&gt;Contact Name &lt;/b&gt;</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_if_Product_Serviced_is_Null</name>
        <label>Check if Product Serviced is Null</label>
        <locationX>3025</locationX>
        <locationY>1132</locationY>
        <defaultConnector>
            <targetReference>Return_No_of_Product_Service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Product_Serviced_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderLocationLoop.Number_of_Products_Serviced__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_blank_from_Number_of_Products_Serviced</targetReference>
            </connector>
            <label>Is Product Serviced Null?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Escort_Required</name>
        <label>Is Escort Required?</label>
        <locationX>449</locationX>
        <locationY>1465</locationY>
        <defaultConnector>
            <targetReference>Assign_Escort_Required_to_NO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Escort_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WO_Site_Survey.Escort_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Escort_Required_to_YES</targetReference>
            </connector>
            <label>Escort Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Hygiene_Female_Skill_Set_Required</name>
        <label>Is Hygiene Female Skill Set Required?</label>
        <locationX>455</locationX>
        <locationY>1160</locationY>
        <defaultConnector>
            <targetReference>Assign_Female_Skill_Set_to_NO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Female_Skill_Set_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WO_Site_Survey.Female_Skillset_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Female_Skill_Set_to_YES</targetReference>
            </connector>
            <label>Female Skill Set Required?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Key_Card_Required</name>
        <label>Is Key Card Required?</label>
        <locationX>421</locationX>
        <locationY>1591</locationY>
        <defaultConnector>
            <targetReference>Assign_Card_Key_Required_to_NO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Key_Card_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WO_Site_Survey.Key_Card_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Card_Key_Required_to_Yes</targetReference>
            </connector>
            <label>Key Card Required?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Reload_Van</name>
        <label>Is Reload Van?</label>
        <locationX>441</locationX>
        <locationY>1252</locationY>
        <defaultConnector>
            <targetReference>Assign_Reload_Van_to_No</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reload_Van</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WO_Site_Survey.Reload_Van__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Reload_Van_to_Yes</targetReference>
            </connector>
            <label>Reload Van?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Security_Sign_In_Out</name>
        <label>Is Security Sign In Out?</label>
        <locationX>469</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Else_what</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Security_Sign_In_Out_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WO_Site_Survey.Security_Sign_in_out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_text_to_Security_Sign_In</targetReference>
            </connector>
            <label>Is Security Sign In Out Checked?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Signature_Required</name>
        <label>Is Signature Required?</label>
        <locationX>460</locationX>
        <locationY>1051</locationY>
        <defaultConnector>
            <targetReference>Assign_Signature_Required_to_NO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Signature_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WO_Site_Survey.Signature_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Signature_Required_to_YES</targetReference>
            </connector>
            <label>Signature Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_unique_product_Id</name>
        <label>Is unique product Id</label>
        <locationX>2079</locationX>
        <locationY>972</locationY>
        <defaultConnector>
            <targetReference>Assign_unique_Product_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unique Product</defaultConnectorLabel>
        <rules>
            <name>Not_Unique_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UniqueProductIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Product</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Looping_Product</targetReference>
            </connector>
            <label>Not Unique Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Meet_With_Contact_Prior_to_Work</name>
        <label>Meet With Contact Prior to Work?</label>
        <locationX>453</locationX>
        <locationY>961</locationY>
        <defaultConnector>
            <targetReference>Assign_Meet_Contact_to_NO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Meet_with_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WO_Site_Survey.Meet_with_Contact_Prior_to_Work__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Meet_Contact_to_YES</targetReference>
            </connector>
            <label>Meet with Contact?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remove_Equipment_from_Vehicle</name>
        <label>Remove Equipment from Vehicle?</label>
        <locationX>444</locationX>
        <locationY>1364</locationY>
        <defaultConnector>
            <targetReference>Assign_Remove_Equipment_from_Vehicle_To_NO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Remove_Equipment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WO_Site_Survey.Remove_Equipment_from_Vehicle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Remove_Equipment_from_Vehicle_to_YES</targetReference>
            </connector>
            <label>Remove Equipment</label>
        </rules>
    </decisions>
    <formulas>
        <name>DisplayAccount</name>
        <dataType>String</dataType>
        <expression>{!AccountName} + {!WO_Account_Name.Name}</expression>
    </formulas>
    <formulas>
        <name>testFormula</name>
        <dataType>String</dataType>
        <expression>&apos;Testing....&apos;</expression>
    </formulas>
    <interviewLabel>Testing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Testing - V2</label>
    <loops>
        <name>Loop_Site_Contacts</name>
        <label>Loop Site Contacts</label>
        <locationX>253</locationX>
        <locationY>1968</locationY>
        <assignNextValueToReference>WO_Contact</assignNextValueToReference>
        <collectionReference>var_Contact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Contact_Details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Security_Sign_In_Out</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Work_Order_Location</name>
        <label>Loop Work Order Location</label>
        <locationX>2767</locationX>
        <locationY>948</locationY>
        <assignNextValueToReference>WorkOrderLocationLoop</assignNextValueToReference>
        <collectionReference>WorkOrderLocation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Product_Serviced_is_Null</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Summary_Page</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopForWOLIForEachProduct</name>
        <label>loopForWOLIForEachProduct</label>
        <locationX>2080</locationX>
        <locationY>1832</locationY>
        <assignNextValueToReference>LoopingthroughWOLIfinal</assignNextValueToReference>
        <collectionReference>varWOLIForEachProduct</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Final_Assignment_WOLI_Product_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Looping_final_product_ids</name>
        <label>Looping final product ids</label>
        <locationX>1589</locationX>
        <locationY>1694</locationY>
        <assignNextValueToReference>varFinalProductIds</assignNextValueToReference>
        <collectionReference>ListofuniqueProductIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_WOLI_for_final_products</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Site_Survey</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Looping_Product</name>
        <label>Looping Product</label>
        <locationX>1757</locationX>
        <locationY>974</locationY>
        <assignNextValueToReference>Product</assignNextValueToReference>
        <collectionReference>ProductRecVar</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_unique_product_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Looping_Unique_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Looping_through_Work_Order_Line_Item</name>
        <label>Looping through Work Order Line Item</label>
        <locationX>1801</locationX>
        <locationY>734</locationY>
        <assignNextValueToReference>WorkOrderLineLoop</assignNextValueToReference>
        <collectionReference>WorkOrderLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_WOLI_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Looping_Product</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Looping_Unique_Products</name>
        <label>Looping Unique Products</label>
        <locationX>1763</locationX>
        <locationY>1128</locationY>
        <assignNextValueToReference>UniqueProductDetails</assignNextValueToReference>
        <collectionReference>UniqueProductIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Unique_Product_Ids_to_list_var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Looping_final_product_ids</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Looping_VMI_Products</name>
        <label>Looping VMI Products</label>
        <locationX>1767</locationX>
        <locationY>450</locationY>
        <assignNextValueToReference>VMIloop</assignNextValueToReference>
        <collectionReference>VMIProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RemoveDecimal2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Work_Order_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <description>WO&apos;s Account</description>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>288</locationX>
        <locationY>588</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrder.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>WO_Account_Name</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Account_Name_2__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>725</locationX>
        <locationY>2173</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Contact_Title</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WO_Account_Name.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Main_Site_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>var_Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get the site survey of the WO</description>
        <name>Get_Site_Survey</name>
        <label>Get Site Survey</label>
        <locationX>940</locationX>
        <locationY>1761</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Site_Survey_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrder.Site_Survey__c</elementReference>
            </value>
        </filters>
        <object>Site_Survey__c</object>
        <outputReference>WO_Site_Survey</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Designated_Parking_Location__c</queriedFields>
        <queriedFields>Building_Access_Point__c</queriedFields>
        <queriedFields>Reception_Information__c</queriedFields>
        <queriedFields>Shipping_Dock_Dimensions__c</queriedFields>
        <queriedFields>Security_Sign_in_out__c</queriedFields>
        <queriedFields>Key_Card_Required__c</queriedFields>
        <queriedFields>Escort_Required__c</queriedFields>
        <queriedFields>Remove_Equipment_from_Vehicle__c</queriedFields>
        <queriedFields>Reload_Van__c</queriedFields>
        <queriedFields>Female_Skillset_Required__c</queriedFields>
        <queriedFields>Signature_Required_For__c</queriedFields>
        <queriedFields>Meet_with_Contact_Prior_to_Work__c</queriedFields>
        <queriedFields>Signature_Required__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_VMI_Product_Details</name>
        <label>Get VMI Product Details</label>
        <locationX>825</locationX>
        <locationY>558</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_VMI_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WO_Account_Name.Id</elementReference>
            </value>
        </filters>
        <object>VMI_Product__c</object>
        <outputReference>VMIProducts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Par_Level__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Product_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WOLI_for_final_products</name>
        <label>Get WOLI for final products</label>
        <locationX>1809</locationX>
        <locationY>1856</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopForWOLIForEachProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFinalProductIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrder.Id</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>varWOLIForEachProduct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WOLI_Product</name>
        <label>Get WOLI Product</label>
        <locationX>2079</locationX>
        <locationY>724</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collect_Product_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderLineLoop.Product2Id</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>WOLI_Product</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order_Line_Items</name>
        <label>Get Work Order Line Items</label>
        <locationX>2090</locationX>
        <locationY>412</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Looping_through_Work_Order_Line_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrder.Id</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>WorkOrderLineItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Product_Name__c</queriedFields>
        <queriedFields>Related_Product__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order_Location</name>
        <label>Get Work Order Location</label>
        <locationX>1171</locationX>
        <locationY>2145</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Work_Order_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrder.Id</elementReference>
            </value>
        </filters>
        <object>Work_Order_Room__c</object>
        <outputReference>WorkOrderLocation</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Number_of_Products_Serviced__c</queriedFields>
        <queriedFields>Number_of_Products_to_be_Serviced__c</queriedFields>
        <queriedFields>Location_Notes__c</queriedFields>
        <queriedFields>Installation_Notes__c</queriedFields>
        <queriedFields>Service_Notes__c</queriedFields>
        <queriedFields>Notes__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Work_Order</name>
        <label>Work Order</label>
        <locationX>287</locationX>
        <locationY>394</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrder</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Site_Survey__c</queriedFields>
        <queriedFields>Service_Appointment__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Site_Survey</name>
        <label>Update Site Survey</label>
        <locationX>3469</locationX>
        <locationY>534</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WO_Site_Survey.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Building_Access_Point__c</field>
            <value>
                <elementReference>Building_Access_PointSD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Designated_Parking_Location__c</field>
            <value>
                <elementReference>ParkingSD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reception_Information__c</field>
            <value>
                <elementReference>Reception_InformationSD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Dock_Dimensions__c</field>
            <value>
                <elementReference>Shipping_Dock_Dimensions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Dock__c</field>
            <value>
                <elementReference>Has_Shipping_Dock2</elementReference>
            </value>
        </inputAssignments>
        <object>Site_Survey__c</object>
    </recordUpdates>
    <screens>
        <name>Summary_Page</name>
        <label>Summary Page</label>
        <locationX>2922</locationX>
        <locationY>561</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Site_Survey</targetReference>
        </connector>
        <fields>
            <name>Account_Information</name>
            <fieldText>{!varDisplayAccount}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Site_Details</name>
            <fieldText>{!varDisplaySiteDetails}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ParkingSD</name>
            <dataType>String</dataType>
            <fieldText>Parking:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Building_Access_PointSD</name>
            <dataType>String</dataType>
            <fieldText>Building Access Point:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Reception_InformationSD</name>
            <dataType>String</dataType>
            <fieldText>Reception Information:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Has_Shipping_Dock2</name>
            <dataType>Boolean</dataType>
            <fieldText>Has Shipping Dock:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Shipping_Dock_Dimensions</name>
            <dataType>String</dataType>
            <fieldText>Shipping Dock Dimensions</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Display2</name>
            <fieldText>{!varDisplayText}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Work_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Accounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CurrentWOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>FinalWOLICountandName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Record Id from FSL Mobile App</description>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ListofuniqueProductIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>loop_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>LoopingthroughWOLIfinal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>NewAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>NewAssets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>ParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>Product2Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductRecVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>UniqueProductDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>UniqueProductIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>UniqueProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Card_Key_Required</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>var_Escort_Required</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Female_Skill_Set_Required</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Meet_With_Contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Reload_Van</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Remove_Blank</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>To remove decimals from Number_of_Products_to_be_Serviced__c}</description>
        <name>var_Remove_Decimals</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_Remove_Equipment_from_Vehicle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Security_Sign_In_Sign_Out</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Signature_Required</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDisplayAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDisplaySiteDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>::::: SITE DETAILS :::::</stringValue>
        </value>
    </variables>
    <variables>
        <name>varDisplayText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDisplayVMI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFinalProductIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varProductCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varRemoveDecimalParLevel</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varWOLIForEachProduct</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>VMIloop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>VMI_Product__c</objectType>
    </variables>
    <variables>
        <name>VMIProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>VMI_Product__c</objectType>
    </variables>
    <variables>
        <name>WO_Account_Name</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>WO_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>WO_ServiceAppointments</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <description>Site survey for the WO</description>
        <name>WO_Site_Survey</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Site_Survey__c</objectType>
    </variables>
    <variables>
        <name>WOLI_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>WOLICount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>WOLIProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WorkOrderLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>WorkOrderLineLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>WorkOrderLocation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Work_Order_Room__c</objectType>
    </variables>
    <variables>
        <name>WorkOrderLocationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderLocationLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Order_Room__c</objectType>
    </variables>
    <variables>
        <name>WorkOrderLocations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Order_Room__c</objectType>
    </variables>
</Flow>
