force-app/main/default/flows/ValidateIsRelatedContactOnOrder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>assignACR</name>
        <label>assignACR</label>
        <locationX>425</locationX>
        <locationY>277</locationY>
        <assignmentItems>
            <assignToReference>getContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountContactRelation.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>chkIfContactIsNull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignIsRelated</name>
        <label>assignIsRelated</label>
        <locationX>701</locationX>
        <locationY>275</locationY>
        <assignmentItems>
            <assignToReference>$Record.IsRelatedContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>chkIfContactIsNull</name>
        <label>chkIfContactIsNull</label>
        <locationX>534</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignIsRelated</targetReference>
            </connector>
            <label>isNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>chkShipToContactNotNull</name>
        <label>chkShipToContactNotNull</label>
        <locationX>165</locationX>
        <locationY>274</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ShipToContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAccountContactRelation</targetReference>
            </connector>
            <label>NotNull</label>
        </rules>
    </decisions>
    <interviewLabel>ValidateIsRelatedContactOnOrder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ValidateIsRelatedContactOnOrder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAccountContactRelation</name>
        <label>getAccountContactRelation</label>
        <locationX>334</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignACR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ShipToContact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>chkShipToContactNotNull</targetReference>
        </connector>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>getContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
